
{% extends "features/settings.html" %}

{% block active_admin_content %}  
active
{% endblock %}

{% block settings_content %}
	<div class="modal modal-fixed">
		<div class="modal-header">
			<h3><b>Change Password</b></h3>
		</div>
    <form method="post" action=".">
      {% csrf_token %}
		  <div class="modal-body">
			   <label class="settings-label">Old Password</label>
         {{ form.old_password }}
          <span class="form-error help-inline">{{form.old_password.errors}}</span>
    		 <br/>
    		 <label class="settings-label">New Password</label>
         {{ form.new_password }}
          <span class="form-error help-inline">{{form.new_password.errors}}</span>
    		 <br/>
    		 <label class="settings-label">Confirm New Password</label>
         {{ form.new_password2 }}
          <span class="form-error help-inline">{{form.new_password2.errors}}</span>
			 <br/>
		  </div>
		  <div class="modal-footer">
			  <button type="submit" class="btn btn-primary">Update Password</button>
		  </div>
    </form>
	</div>
{% endblock %}
