{% extends "base/base.html" %}

{% block content %}
	
	<!-- index style -->
	<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/index.css" >
     <div id="myCarousel" class="carousel slide">
      <!--   <div class="carousel-inner">-->
      <div class="item">
          <img src="{{STATIC_URL}}/images/slide/slide-01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Join Chemistry Tools Group!</h1>
              <p class="lead">Enjoy your professional, effecifient chemistry calculate.</p>
              <!--  <a class="btn btn-large btn-primary" href="/#signup">Sign up today</a>-->
            </div>
          </div>
        </div>
          
    </div>    

	<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span12">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Dragon 6</h2>
          <p>Dragon 6 is an application for the calculation of molecular descriptors. These descriptors can be used to evaluate molecular structure-activity or structure-property relationships, as well as for similarity analysis and high-throughput screening of molecule databases. Actually Dragon is widely used in scientific studies as well as part of several QSAR suites.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
         </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">
	
	  {#% include "widgets/home_signup.html"%#}
	
{% endblock %}
    
