<!-- #profile-header-->
	<!-- #profile-utility-->
	<div class="profile-utility left" >
		<a class="left " href="#" >
			<img class="profile-image" src="{{ STATIC_URL }}images/browser-icon-chrome.png" alt="hello!" >
		</a>
		<div class="utility-links left">
			<div><a href="#" >Message</a></div>
			<div><a href="#" >Share</a></div>
		</div>
	</div>
	<!-- #profile-info-->
	<div class="profile-info left">
		<div class="title-location text-ellipsis">
			<h2 class="occupation">STUDENT</h2>
		</div>
		<ul class="location-website-fields unstyled">
			<li>
				<i class="icon-map-marker"></i> 
				<a class="location-link" href="#" >Dalian,China</a>
			</li>
			<li class="fields">
			<span class="small-text">FOCUS:</span>
			<a class="field" href="#" >Web Design</a>
			<span>,</span>
			<a class="field" href="#" >Web Development</a>
			</li>
		</ul>
		<div id="social-icons"></div>
	</div>
	<!-- #user-stats-->
	<div class="user-stats left">
		<ul class="unstyled">
			<li class="user-stat">
				<i class="icon-eye-open"></i>
				Project Views
				<a href="#" class="blue right bold">0</a>
			</li>
			<li class="user-stat">
				<i class="icon-thumbs-up"></i>
				Appreciations
				<a href="#" class="blue right bold">0</a>
			</li>
			<li class="user-stat">
				<i class="icon-hand-left"></i>
				followers
				<a href="#" class="blue right bold">0</a>
			</li>
			<li class="user-stat">
				<i class="icon-hand-right"></i>
				following
				<a href="#" class="blue right bold">0</a>
			</li>
		</ul>
	</div>

