{% extends "features/userprofile.html" %}
{% block userstatisticsinfo_content %}
	<div class="user-information below-header-shadow col">
		<div class="grid-9">
			<div class='user-info-block'>
				<div class="user-info-header">
					<span><i class="icon-thumbs-up"></i> Projects I Appreciated</span>
				</div>
				<div class="user-info-content">
 					<a href='http://www.behance.net/weixindlut/appreciations' class='see-all small-text left'>View Appreciations &rarr;</a>
				</div>
			</div>
			<div class='user-info-block'>
				<div class="user-info-header">
					<span><img src="{{STATIC_URL}}images/link.png"> Profile URLs</span>
				</div>
				<div class="user-info-content">
					<ul class="unstyled">
						<li class="profile-list-item"><a href="http://be.net/weixindlut">http://be.net/weixindlut</a></li>
						<li class="profile-list-item"><a href="http://www.behance.net/weixindlut.xml">RSS Feed</a></li>
					</ul>
				</div>
			</div> 
		</div> <!-- .grid-9 -->
	</div>
	<div class="user-gallery below-header-shadow col">
		<div class="grid-22">
          <div class="galleries-header">
      		<div class="galleries-header-left">          
        			<div class="navmenui-auxiliary">
        				<div class="navmenui-auxiliary-content">
        					<div class="">
        						<ul class="left nav nav-tabs">
        							<li class="active">
        								<a class="nav-link" href="/weixindlut">
        									<div class="nav-text">Projects</div>
        								</a>
        							</li>
        							<li>
        								<a class="nav-link" href="http://www.behance.net/weixindlut/wip">
        									<div class="nav-text">Work in Progress</div>
        								</a>
        							</li>
        						</ul>
        					</div>
        				</div>
        			</div>      
      		</div>
      		
    		</div> <!-- .galleries-header -->    
    		<div class="grid projects-container">
				<div class="">
        			<div class="site-message ui-corner large">
        				<div id="chartdiv" style="height:300px;width:750px; "></div>
        					<button class="btn btn-primary button-reset">reset</button>

        				
        				<!--<table>
								<caption>2009 Employee Sales by Department</caption>
									<thead>
										<tr>
											<td></td>
											<th scope="col">food</th>
											<th scope="col">auto</th>
											<th scope="col">household</th>
											<th scope="col">furniture</th>
											<th scope="col">kitchen</th>
											<th scope="col">bath</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">Mary</th>
											<td>190</td>
											<td>160</td>
											<td>40</td>
											<td>120</td>
											<td>30</td>
											<td>70</td>
										</tr>
										<tr>
											<th scope="row">Tom</th>
											<td>3</td>
											<td>40</td>
											<td>30</td>
											<td>45</td>
											<td>35</td>
											<td>49</td>
										</tr>
										<tr>
											<th scope="row">Brad</th>
											<td>10</td>
											<td>180</td>
											<td>10</td>
											<td>85</td>
											<td>25</td>
											<td>79</td>
										</tr>
										<tr>
											<th scope="row">Kate</th>
											<td>40</td>
											<td>80</td>
											<td>90</td>
											<td>25</td>
											<td>15</td>
											<td>119</td>
										</tr>
									</tbody>
								</table>
  						<div class="site-message-wrap">
  							
    						<div class="">
    							<h4 class="site-message-header">wei xin hasn't uploaded any projects.</h4>
    							<div class="site-message-message">
    								Please check back soon. Until then, you can see more people in 
    								<a class="field" href="/search?field=102" title="Web Design">Web Design</a>
    								<span class=""> or </span>
    								<a class="field" href="/search?field=103" title="Web Development">Web Development</a>
    							</div>
    						</div>    
  						</div> --><!-- .site_message-wrap -->
  
					</div> <!-- .site_message -->
      		</div>
			</div><!-- #projects-container -->
  		</div>
	</div>
	
{% endblock %}
