<!--use info statistics: pie chart-->
<!--link class="include" type="text/css" href="{{STATIC_URL}}jquery-ui/css/smoothness/jquery-ui.min.css" rel="Stylesheet" /--> 
<div class="galleries-header">
	<div id="staticstabs" >
		<ul class="nav nav-tabs">
	      <li><a href="#tabs-1" data-toggle="tab">Tab 1</a></li>
	      <li><a href="#tabs-2" data-toggle="tab">Tab 2</a></li>
	    </ul>
	    <div class="tab-content">
		    <div id="tabs-1" class="tab-pane active">
		    	<div id="chart1" data-height="260px" data-width="480px" style="margin-top:20px; margin-left:20px;"></div>
		    </div>
		    <div id="tabs-2" class="tab-pane">
		    	<div id="chart2" data-height="260px" data-width="480px" style="margin-top:20px; margin-left:20px;"></div>
		    </div>
	    </div>
	</div>
</div>