Django==1.4.2
PIL
pillow
djangocms-admin-style
django-dajax
django-dajaxice
django-celery
django-kombu
Celery
redis
hiredis
celery-with-redis
django-chartit
south
raven
django-tastypie
pybel
xhtml2pdf
