{% extends "base/base.html" %}
{% load i18n %}


{% block content %}
<center>
<div class="login-section">
  
  {% if validlink %}
  <form class="login-form"  method="post" action=".">
    {% csrf_token %}
    <div class="form-group form-group-large">
      <input type="password" class="form-control login-field required" placeholder="新密码" id="id_new_password1" name="new_password1" maxlength="254">
      <label class="login-field-icon fui-lock" for="new_password1"></label>
      <span class="form-error help-inline">{{form.new_password1.errors}}</span>
    </div>
    <div class="form-group form-group-large">
      <input type="password" class="form-control login-field required" placeholder="新密码再次确认" id="id_new_password2" name="new_password2" maxlength="254">
      <label class="login-field-icon fui-lock" for="new_password2"></label>
      <span class="form-error help-inline">{{form.new_password2.errors}}</span>
    </div>
    <button class="btn btn-primary btn-lg btn-block" type="submit">重置密码</button>
</form>

{% else %}
  <p>{% trans "密码重置失败" %}</p>
{% endif %}
</div>
</center>
{% endblock %}
