{% extends "base/base.html" %}
{% load i18n %}

{% block content %}

<center>
<div class="login-section">
  <form class="login-form"  method="post" action=".">
    {% csrf_token %}
    <div class="form-group form-group-large">
      <input type="email" class="form-control login-field required" placeholder="注册账户邮箱" id="id_email" name="email" maxlength="254">
      <label class="login-field-icon fui-mail" for="email"></label>
      <span class="form-error help-inline">{{form.email.errors}}</span>
    </div>
    <button class="btn btn-primary btn-lg btn-block" type="submit">发送重置邮件</button>
  </form>
</div>

</center>

{% endblock %}
