{% extends "base/base.html" %}
{% load i18n %}

{% block content %}

<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/accounts_form.css" >

<div class="container form-container">
	<form class="form-signin" method="post" action="{% url registration_register %}">
    {% csrf_token %}
		<h2>Register new account</h2>			
		{% include 'base/_form.html' %}			
		<button class="btn btn-large btn-primary" type="submit">Submit</button>	
		{% csrf_token %}
	</form>	
</div>

{% endblock %}
