{% extends "base/base.html" %}
{% block content %}

<center>
<div class="login-section">
  <form class="login-form" method="post" action="{% url 'registration_register' %}">
    {% csrf_token %}
    <div class="form-group form-group-large">
      <input type="text" class="form-control login-field required" placeholder="用户名" id="id_username" name="username">
      <label class="login-field-icon fui-user" for="username"></label>
      <span class="form-error help-inline">{{form.username.errors}}</span>
    </div>
    <div class="form-group form-group-large">
      <input type="text" class="form-control login-field  required" placeholder="邮箱" id="id_email" name="email">
      <label class="login-field-icon fui-mail" for="email"></label>
      <span class="form-error help-inline">{{form.email.errors}}</span>
    </div>
    <div class="form-group  form-group-large">
      <input type="password" class="form-control login-field  required" placeholder="密码" id="id_password1" name="password1">
      <label class="login-field-icon fui-lock" for="password1"></label>
      <span class="form-error help-inline">{{form.password1.errors}}</span>
    </div>
    <div class="form-group  form-group-large">
      <input type="password" class="form-control login-field  required" placeholder="密码确认"  id="id_password2" name="password2">
      <label class="login-field-icon fui-lock" for="password2"></label>
      <span class="form-error help-inline">{{form.password2.errors}}</span>
    </div>
    <button class="btn btn-primary btn-lg btn-block" type="submit">注册</button>
  </div>
  </form>
</center>

{% endblock %}
