{% extends "base/_pdf_content.html" %}

{% block calculate-content%}
<div class="page-header">
  <h3>Overview</h3>
</div> 
<blockquote id="commit_notes_copy">
    <p>{{suite_task.status}}</p>
    <p>Start Time: {{suite_task.start_time|date:"Y-m-d H:m"}}</p>
    <p>End Time: {{suite_task.end_time|date:"Y-m-d H:m"}}</p>
    <p>Total Tasks:{{suite_task.total_tasks}}</p>
    <p>Finished Tasks:{{suite_task.has_finished_tasks}}</p>
</blockquote>
<br/>
<div class="page-header">
  <h3>Details</h3>
</div> 
<blockquote id="commit_notes_copy">
 <table class="table table-hover ">
  <thead>
    <tr>
      <td>Status</td>
      <td>Model</td>
      <td>Category</td>
      <td>Temperature</td>
      <td>Results</td>
    </tr>
  </thead>
  <tbody>
    {%for s in single_task_lists%}
    <tr>
      <td>
        {% if s.status.category == "success" %}
          <p class="label label-success">Succeed</p>
        {% elif s.status.category == "failed" %}
          <p class="label label-important">Failed</p>
        {% else %}
          <p class="label label-info">Calculating</p>
        {%endif%}
      </td>
      <td>{{s.model|upper}}</td>
      <td>{{s.model.origin_type}}</td>
      <td>{{s.temperature}}</td>
      <td>{{s.results}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
</blockquote>
{% endblock %}
