<!-- Bootstrap compatible form -->
{% if form.non_field_errors %}
	<div class="row alert alert-error">
		<button class="close" data-dismiss="alert">×</button>
		{{ form.non_field_errors }}
	</div>
{% endif %}
<fieldset>
  {% for field in form %}
    <div class="control-group {% if field.errors %}error{% endif %}">
      <label class="control-label" >
        {% if field.field.required %}{{ field.label }} 
        {% else %} {{ field.label_tag }}  {% endif %}
      </label>
      <div class="controls">
        {{ field }}
        <p class="help-block">{{ field.help_text }}</p>
        {% for error in field.errors %}
          <span class="help-inline"><b>{{ error }}</b></span>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</fieldset>

<style>
   p.help-block {
        font-size:16px;
        font-style:italic;
        color:#666666;
   }
</style>

