<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Chemistry Tools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% block meta_description %}
    <meta name="description" content="" />
    {% endblock %}
    <meta name="keywords" content="" />
    <meta name="author" content="tianwei" >

    <!--Ajax-->
    {%load dajaxice_templatetags %}
    {% dajaxice_js_import %}
  
    <!-- CSS Config. -->
    {% block before_css %}{% endblock  %}
    {% include "meta/html_head_stylesheets.html" %}

    <!-- JavaScript Config. -->
    {% block forestyle %}{% endblock %}
    {% include "meta/html_head_javascript.html" %}
    {% block forejs %}{% endblock %}
  </head>
    <body >
      <div class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
          <a href="/">{{settings.PRODUCTION_FLAG}}</a>
        </div>
      </div>
		  {# navigator bar#}
		  {% include "widgets/navbar.html" %}
		
      {# Main-Content Section #}
      {% block content %}{% endblock %}

      {# Footer Section #}
      {% include "widgets/footer.html" %}
      {% include "meta/bottom_scripts.html" %}
      {% block endjs %}{% endblock %}    
	</body>
</html>
