<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Chemistry Tools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% block meta_description %}
    <meta name="description" content="" />
    {% endblock %}
    <meta name="keywords" content="" />
    <meta name="author" content="tianwei" >

    <!-- CSS Config. -->
    {% block before_css %}{% endblock  %}
    {% include "meta/html_head_stylesheets.html" %}
    {% block forestyle %}{% endblock %}
    {% include "meta/html_head_javascript.html" %}
    {% block forejs %}{% endblock %}
  </head>

    <body class="{% block body_class %}{% endblock %}
          {% if user_messages %} 
                user-messages
          {% endif %}
          {% if page_class %} 
                {{page_class}}
          {% endif %}
          {% if request.user.is_anonymous %} 
              anon
          {% endif %} 
              lang-{{settings.LANGUAGE_CODE}}">

        {# Header Section #}
        {% include "widgets/header.html" %} {# Logo, user tool navigation and meta navitation #}

        {# Main-Content Section #}
        <div class="content-wrapper">
            {% block content %}{% endblock %}
        </div>
        
        {# Footer Section #}
        {% include "widgets/footer.html" %}
        {% include "meta/bottom_scripts.html" %}
        {% block endjs %}{% endblock %}    
</body>
</html>
