<!DOCTYPE html>
<html lang="en">

  <head>
    <title>CPTP 化学品预测毒理学平台</title>
    {%if is_client%}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%else%}
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {%endif%}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    {% block meta_description %}
    <meta name="description" content="" />
    {% endblock %}

    <!-- CSS Config. -->
    {% block before_css %}{% endblock  %}
    {% include "meta/html_head_stylesheets.html" %}
    {% block forestyle %}{% endblock %}

    <!-- JavaScript Config. -->
    {% include "meta/html_head_javascript.html" %}
    {% block forejs %}{% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
 <!-- style="background:#ECF0F1"-->
  <body >
    <div class="container">
      {% if not is_client %}
        {# navigator bar#}
        {% include "widgets/navbar.html" %}
      {% endif %}

      {# Main-Content Section #}

      {% block content %}{% endblock %}

      {% if not is_client %}
        {# Footer Section #}
        {% include "widgets/footer.html" %}
      {% endif %}
    </div>
    {% include "meta/bottom_scripts.html" %}
    {% block endjs %}{% endblock %}    
  </body>

</html>
