<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/jquery.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-transition.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-alert.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-modal.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-dropdown.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-scrollspy.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-tab.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-tooltip.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-popover.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-button.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-collapse.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-carousel.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-typeahead.js"></script>

<script type='text/javascript' src="{{STATIC_URL}}js/jquery.history.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}js/utils.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}js/jquery-1.7.2.min.js"></script>

<div id="no-javascript">
    <noscript class="noscript">
    </noscript>
    <script type="text/javascript">
        //IE fix to hide the red margin
        var noscript = document.getElementsByTagName('noscript')[0];
        noscript.style.padding = '0px';
        noscript.style.backgroundColor = 'transparent';
    </script>
</div>



