<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/jquery.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-transition.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-alert.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-modal.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-dropdown.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-scrollspy.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-tab.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-tooltip.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-popover.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-button.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-collapse.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-carousel.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-typeahead.js"></script>

<!--wizard plugin-->
<script type='text/javascript' src="{{STATIC_URL}}fuelux/wizard.js"></script>

<!-- external js for features-->
<script type='text/javascript' src="{{STATIC_URL}}js/features.js"></script>

<!--external scripts for time picker-->
<script type='text/javascript' src="{{ STATIC_URL }}bootstrap-datepicker/js/bootstrap-datepicker.js" charset="UTF-8"></script>
