<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/jquery.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-transition.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-alert.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-modal.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-dropdown.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-scrollspy.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-tab.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-tooltip.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-popover.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-button.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-collapse.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-carousel.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap-typeahead.js"></script>

<!-- external js -->
<script type='text/javascript' src="{{STATIC_URL}}js/features.js"></script>

