<!-- new-task page -->
{% extends "base/_content.html" %}

{% block calculate-content%}
	<!--bootcamp notification-->
	{% include "widgets/bootcamp_notification.html" %}
	<!--use Carousel to show calculate steps-->
	<br/>
	<div id="carousel-bootcamp" class="carousel slide">
		<div class="carousel-inner bootcamp-carousel">
			<div class="active item" id="carousel-step1">
				<!--Step1: input cas , mol-->
				{% include "widgets/task_step1.html" %}
			</div>
			<div class="item" id="carousel-step2">
				<!--Step2: model choice-->
				{% include "widgets/task_step2.html" %}
			</div>
			<div class="item" id="carousel-step3">
				<!--Step3: userinfomation -->
				{% include "widgets/task_step3.html" %}
			</div>
			<div class="item" id="carousel-step4">
				<!--Step4: results-->
				{% include "widgets/task_step4.html" %}
			</div>
		</div>
		<a class="left carousel-control carousel-arrow-black" href="/#carousel-bootcamp" data-slide="prev">‹</a>
        <a class="right carousel-control carousel-arrow-black" href="/#carousel-bootcamp" data-slide="next">›</a>
	</div>
	
{% endblock %}