<!-- new-task page -->
{% extends "base/_content.html" %}

{% block calculate-content%}
	<!--bootcamp notification-->
	{% include "widgets/bootcamp_notification.html" %}
	<!--use Carousel to show calculate steps-->
	<div id="bootcamp-carousel" class="carousel slide">
		<div class="carousel-inner">
			<div class="active item" id="carousel-step1">step1</div>
			<div class="item" id="carousel-step2">step2</div>
			<div class="item" id="carousel-step3">step3</div>
			<div class="item" id="carousel-step4">step4</div>
		</div>
		<a class="left carousel-control" href="/#bootcamp-carousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="/#bootcamp-carousel" data-slide="next">›</a>
	</div>
	<!--Step1: input cas , mol-->
	<!--Step2: model choice-->
	<!--Step3: userinfomation -->
	<!--Step4: results-->
{% endblock %}