<!-- new-task page -->
{% extends "base/_content.html" %}

{% block calculate-content%}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}fuelux/css/fuelux.css" >
	<!-- WIZARD -->
	<div class = "fuelux">
		<div id="MyWizard" class="wizard">
			<ul class="steps">
				<li data-target="#step1" class="active"><span class="badge badge-info">1</span>Step1<span class="chevron"></span></li>
				<li data-target="#step2"><span class="badge">2</span>Step 2<span class="chevron"></span></li>
				<li data-target="#step3"><span class="badge">3</span>Step 3<span class="chevron"></span></li>
				<li data-target="#step4"><span class="badge">4</span>Step 4<span class="chevron"></span></li>
			</ul>
			<div class="actions">
				<button class="btn btn-info btn-prev">Prev</button>
				<button class="btn btn-info btn-next" data-last="Finish">Next</button>
			</div>
		</div>
		<div class="step-content">
      <div class="step-pane active" id="step1">
        <!--Basic Infomation-->   
        {% include "widgets/task_step1.html" %}
      </div>
      <div class="step-pane" id="step2">
        <!--model choice-->
        {% include "widgets/task_step2.html" %}
      </div>
      <div class="step-pane" id="step3">
        <!--Result Configuration-->
        {% include "widgets/task_step3.html" %}
      </div>
      <div class="step-pane" id="step4">
        <!--Result Confirm-->
        {% include "widgets/task_step4.html" %}
      </div>
	</div>
    
    <!--div class="div-center"> 
		<input type="button" class="btn btn-large btn-primary" id="btnWizardPrev" value="prev">
		<input type="button" class="btn btn-large btn-primary" id="btnWizardNext" value="next">
		<input type="button" class="btn btn-large btn-primary" id="btnWizardStep" value="current step">
	</div-->
</div>
{% endblock %}
