<!-- features for user profile edit -->

{% extends "base/base.html" %}
{% load i18n %}

{% block content %}

<!-- index style -->
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/index.css" >
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/content.css" >
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/accounts_form.css" >

<div class="container form-container ">
  <div class = "row"> 
    <div class="span3 bs-docs-sidebar">
      <!--left navigation-->
      <ul class="nav nav-pills nav-stacked nav-list bs-docs-sidenav affix-top">
        <li class="{% block active_profile_content %}  {% endblock %}">
          <a href="/settings/profile" class="setting-bar">
            <i class="icon-chevron-right pull-right"></i>
            Profile
          </a>
          </li>
          <li class="{% block active_admin_content %}  {% endblock %}">
          	<a href="/settings/admin" class="setting-bar">
            	<i class="icon-chevron-right pull-right"></i>
            	Account Settings
          	</a>
          </li>
        <li class="{% block active_billing_content %}  {% endblock %}">
          <a href="/settings/billing" class="setting-bar">
            <i class="icon-chevron-right pull-right"></i>
            Billing
          </a>
        </li>
        <li class="{% block active_payments_content %}  {% endblock %}">
          <a href="/settings/payments" class="setting-bar">
            <i class="icon-chevron-right pull-right"></i>
            Payment History
          </a>
        </li>
      </ul>   
    </div>
      <!--right panel-->
      <div class="span8">
        {% block settings_content %}
        {% endblock %}
      </div> 
  </div>
</div>

{% endblock %}
