<!-- features for user profile edit -->

{% extends "base/base.html" %}
{% load i18n %}

{% block content %}

<!-- index style -->
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/index.css" >
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/content.css" >
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/accounts_form.css" >

<div class="container form-container ">
  <div class = "row"> 
    <div class="span3 bs-docs-sidebar">
      <!--left navigation-->
      <ul class="nav nav-list bs-docs-sidenav affix-top">
        <li class="active">
          <a href="/settings/profile">
            <i class="icon-chevron-right"></i>
            Profile
          </a>
          </li>
          <li >
          <a href="/settings/admin">
            <i class="icon-chevron-right"></i>
            Account Settings
          </a>
        </li>
        <li>
          <a href="/settings/billing">
            <i class="icon-chevron-right"></i>
            Billing
          </a>
        </li>
        <li>
          <a href="/settings/payments">
            <i class="icon-chevron-right"></i>
            Payment History
          </a>
        </li>
      </ul>   
    </div>
      <!--right panel-->
      <div class="span8">
        {% block settings_content %}
        {% endblock %}
      </div> 
  </div>
</div>

{% endblock %}
