<!--features for userprofile-->

{% extends "base/base.html" %}
{% load i18n %}

{% block content %}

<!-- index style -->
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/index.css" >
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/content.css" >
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/accounts_form.css" >
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/userprofile/userprofile.css" >
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/userprofile/jquery.jqplot.css" >
<link class="include" type="text/css" href="{{STATIC_URL}}jquery-ui/css/smoothness/jquery-ui.css" rel="Stylesheet" >
<div class="container form-container ">
	<!-- basic user information -->
	<div class="profile">
		<div class="profile-username">
			<a href="#" class="profile-username-text">root</a>
			<a href="/settings/profile" class="pull-right  profile-username-text-edit"><i class="icon-pencil icon-white"></i>Edit Your Profile</a>
		</div>
		<div class="profile-header">
			{% include "userprofile/basicinfo.html" %}
		</div>
		<div class="profile-bottom ui-corner-bottom">
			<!--grid layout-->
			<div class="user_leftbar below-header-shadow col">
			{% include "userprofile/user_leftbar.html"%}
			</div>
			<div class="user_rightbar below-header-shadow col">
			{% include "userprofile/user_rightbar.html"%}
			</div>
		</div>
	</div>
	
</div>

{% endblock %}
