<!-- Basic Info search input -->
<!--input cas, chinese name, english name, smiles-->
<br/>
<form class="form-search form-search-modified" method="post" action=".">
	{% csrf_token %}
	<div class="input-append">
		{{ basic_form.info }}
		<button type="submit" class="btn" rel="tooltip" data-placement="right" 
		data-original-title = "varify your input, like name,
		cas, smile and chinese">Search & Varify</button>
	</div>
</form>
<br/>
<!-- tips for search -->
<div class="alert alert-success" id="search-tips" >
	<button type="button" class="close" data-dismiss="alert">x</button>
	<h3><strong>Search tips!</strong></h3>
	<br/>
	<ul>
		<li>Name: Lipitor, Ibuprofen </li>
		<li>CAS Num: 15687-27-1</li>
		<li>SMILES: S=C=NC</li>
		<li>Chinese name: 苯</li>
	</ul>
</div>
<br/>

<!-- varify results -->
{% if is_searched %}
	<div class="accordion" id="accordion2">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
					{% if is_valid %} successful! {% else %} Failed! {% endif %}
				</a>	
			</div>
		{% if is_valid %}
		<div id="collapseOne" class="accordion-body collapse">
				<div class="accordion-inner">
					{% include "widgets/search_result.html" %}
				</div>
		</div>
		{% endif %}
	</div>
</div>
{% endif %}



