<!-- Basic Info search input -->
<!--input cas, chinese name, english name, smiles-->
<br/>
	<div class="input-append">
    <input type="text" id="query_input"  class="span4 search-query" placeholder="cas,name,smiles...">
		<button id="search_varify_btn" class="btn" rel="tooltip" data-placement="right" 
		data-original-title = "varify your input, like name,
		cas, smile and chinese">Search & Varify</button>
	</div>
<br/>
<!-- tips for search -->
<div class="alert alert-success" id="search-tips" >
	<button type="button" class="close" data-dismiss="alert">x</button>
	<h3><strong>Search tips!</strong></h3>
	<br/>
	<ul>
		<li>Name: Lipitor, Ibuprofen </li>
		<li>SMILES: S=C=NC</li>
		<li>Chinese name: 苯</li>
	</ul>
</div>
<br/>
<center>
<div id="search-loading">
  <img src="{{STATIC_URL}}images/loading.gif">
</div>
</center>

<!-- varify results -->
<div class="accordion" id="search_result_panel">
  <hr/>
	{% include "widgets/search_result.html" %}
</div>
