<!--bootcamp notification-->

<div class="alert alert-info">
	<!--headline-->
	<h3>BootCamp
		<span id="bootcamp-title">If you are still new to things, we’ve provided a few walkthroughs to get you started.</span>
	</h3>
	<!--body-->
	<div class="row-fluid show-grid">
		<div class="span3 bootcamp-block">
			<a href="/bootcamp/#step1" target="_blank">
				<div class="bootcamp-center">
					<img src="{{STATIC_URL}}images/cat1.png" 
						class="bootcamp-block-image" />
				</div>
				<div class=" bootcamp-block-text">
					<h5>step1</h5>
					<p>details</p>
				</div>
				<span>
					<img src="" class="img-rounded"/>
				</span>
			</a>
		</div>
		<div class="span3 bootcamp-block">
			<a href="/bootcamp/#step1" target="_blank">
				<div class="bootcamp-center">
					<img src="{{STATIC_URL}}images/cat2.png" 
						class="bootcamp-block-image" />
				</div>
				<div class=" bootcamp-block-text">
					<h5>step1</h5>
					<p>details</p>
				</div>
				<span>
					<img src="" class="img-rounded"/>
				</span>
			</a>
		</div>
		<div class="span3 bootcamp-block">
			<a href="/bootcamp/#step1" target="_blank">
				<div class="bootcamp-center">
					<img src="{{STATIC_URL}}images/cat3.png" 
						class="bootcamp-block-image" />
				</div>
				<div class=" bootcamp-block-text">
					<h5>step1</h5>
					<p>details</p>
				</div>
				<span>
					<img src="" class="img-rounded"/>
				</span>
			</a>
		</div>
    <div class="span3 bootcamp-block">
			<a href="/bootcamp/#step1" target="_blank">
				<div class="bootcamp-center">
					<img src="{{STATIC_URL}}images/cat4.png" 
						class="bootcamp-block-image" />
				</div>
				<div class=" bootcamp-block-text">
					<h5>step1</h5>
					<p>details</p>
				</div>
				<span>
					<img src="" class="img-rounded"/>
				</span>
			</a>
		</div>
	</div>
</div>
	
