<!--bootcamp notification-->

<div class="alert alert-info bootcamp">
	<!--headline-->
	<h3>BootCamp
		<span id="bootcamp-title">If you are still new to things, we’ve provided a few walkthroughs to get you started.</span>
	</h3>
	<!--body-->
	<div class="row-fluid show-grid">
		<div class="span3 bootcamp-block">
			<a href="#carousel-step1">
				<div class="image first-step-image"></div>
				<div class="bootcamp-block-text">
					<div>
						<h2>step1</h2>
						<p>details</p>
					</div>
					<span class="step-number one"></span>
				</div>

			</a>
		</div>
		<div class="span3 bootcamp-block">
			<a href="#carousel-step2" >
				<div class="image second-step-image"></div>
				<div class="bootcamp-block-text">
					<div>
						<h2>step1</h2>
						<p>details</p>
					</div>
					<span class="step-number two"></span>
				</div>
			</a>
		</div>
		<div class="span3 bootcamp-block">
			<a href="#carousel-step3" >
				<div class="image third-step-image"></div>
				<div class=" bootcamp-block-text">
					<div>
						<h2>step1</h2>
						<p>details</p>
					</div>
					<span class="step-number three"></span>
				</div>
			</a>
		</div>
    <div class="span3 bootcamp-block">
			<a href="#carousel-step4">
				<div class="image fourth-step-image"></div>
				<div class=" bootcamp-block-text">
					<div>
						<h2>step1</h2>
						<p>details</p>
					</div>
					<span class="step-number four"></span>
				</div>
			</a>
		</div>
	</div>
</div>
