<!-- chemistry structure draw, use chemwrite lib -->
<br/>
<!--Import the custom chemwrite -->
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}chemwriter/chemwriter.css" >
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}chemwriter/chemwriter-custom.css" >
<script src="{{ STATIC_URL }}chemwriter/chemwriter.js"></script>

<div class="container-fluid "> 
			<!--structure draw-->
			<div class="container draw-container">
			    <div id="editor"></div>
				<script>
			  </script>
			</div>
      <!--Sumbit button-->
      <br/>
      <div >
        <button class="btn btn-primary btn-large calculated-btn" id="draw_btn">Confirm</button>
      </div>
      <br/>
      <br/>
      <br/>
</div>
