  
  <!--step1 content:basic information-->
  <div class="container-fluid search-result">
    <div class="row-fluid">
      <div class="span4">
        <fieldset>
          <legend>Structure</legend>
          <div class="images_copy_array">
            <img id="last_picture_copy" src="{{STATIC_URL}}images/examples/structure.png">
            <fieldset>
              <legend>Other Images</legend>
              <div class="remained_pictures_copy">
              </div>
            </fieldset>
        </fieldset>
        <br/>
      </div>

      <div class="span8">
        <fieldset>
          <legend>Smile Names</legend>
          <div class="search_name_copy_array">
            <div class="alert-info" id="last_smile_copy">S=C=NC</div> 
          </div>
        </fieldset>
        <br/>
        <fieldset>
          <legend>Mol Files</legend>
          <table class="table">
            <thead>
              <tr>
                <td>Type</td>
                <td>Path</td>
              </tr>
            </thead>
            <tbody id="fileupload_copy">
              <tr class="success">
                <td>mol</td>
                <td>home/tianwei/path</td>
              </tr>
              <tr class="error">
                <td>sdf</td>
                <td>home/tianwei/path</td>
              </tr>
            </tbody>
          </table>
        </fieldset>
        </br>
        <fieldset>
          <legend>Mol String</legend>
          <div class="alert-info" id="mol_string_flag"></div> 
          <p id="mol_file_string_copy" loaded="false"></p>
        </fieldset>
      </div>
    </div>
  </div>

  <!--step2 content:model choice-->
  <div class="container-fluid search-result">
  <fieldset>
    <legend>Model Choice</legend>
    <table class="table" id="models_choice_copy">
      <thead>
        <tr><td>Models</td><td>Arguments</td></tr>
      </thead>
      <tbody>
        <tr class="success" id="model_koa_choice_copy" rel="modified_choice" visible="false"><td>koa</td>
          <td class="attrs">
            temperature:<span id="temperature_koa_copy">none</span>;
            humidity:<span id="humidity_koa_copy">80</span>%;
            other:<span id="other_koa_copy">none</span>;
          </td>
        </tr>
        <tr class="error" id="model_kof_choice_copy" rel="modified_choice" visible="false"><td>kof</td>
          <td class="attrs">
            temperature:<span id="temperature_kof_copy">none</span>;
            humidity:<span id="humidity_kof_copy">80</span>%;
            other:<span id="other_kof_copy">none</span>;
          </td>
        </tr>
        <tr class="info" id="model_pl_choice_copy" rel="modified_choice" visible="false"><td>pl</td>
          <td class="attrs">
            temperature:<span id="temperature_pl_copy">none</span>;
            humidity:<span id="humidity_pl_copy">80</span>%;
            other:<span id="other_pl_copy">none</span>;
          </td>
        </tr>
        <tr class="success" id="model_bcf_choice_copy" rel="modified_choice" visible="false"><td>bcf</td>
          <td class="attrs">
            temperature:<span id="temperature_bcf_copy">none</span>;
            humidity:<span id="humidity_bcf_copy">80</span>%;
            other:<span id="other_bcf_copy">none</span>;
          </td>
        </tr>
        <tr class="error" id="model_pkd_choice_copy" rel="modified_choice" visible="false"><td>pkd</td>
          <td class="attrs">
            temperature:<span id="temperature_pkd_copy">none</span>;
            humidity:<span id="humidity_pkd_copy">80</span>%;
            other:<span id="other_pkd_copy">none</span>;
          </td>
        </tr>
        <tr class="info" id="model_ppk_choice_copy" rel="modified_choice" visible="false"><td>ppk</td>
          <td class="attrs">
            temperature:<span id="temperature_ppk_copy">none</span>;
            humidity:<span id="humidity_ppk_copy">80</span>%;
            other:<span id="other_ppk_copy">none</span>;
          </td>
        </tr>
        <tr class="success" id="model_dfs_choice_copy" rel="modified_choice" visible="false"><td>dfs</td>
          <td class="attrs">
            temperature:<span id="temperature_dfs_copy">none</span>;
            humidity:<span id="humidity_dfs_copy">80</span>%;
            other:<span id="other_dfs_copy">none</span>;
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>  
  </div>

  <!--step3 content:notes-->
  <div class="container-fluid search-result">
  <fieldset>
    <legend>Response File Type</legend>
    <div class="alert-success" id="response_type_copy">
      <p class="span" id="choice_txt_selected">TXT</p>
      <p class="span" id="choice_pdf_selected">PDF</p>
      <p class="span" id="choice_csv_selected">CSV</p>
    </div> 
    </table>
  </fieldset>  
  </div>
  
  <br/>
  <div class="container-fluid search-result">
  <fieldset>
    <legend>Notes</legend>
    <blockquote id="commit_notes_copy">teastast test</blockquote>
    </table>
  </fieldset>  
  </div>
  <br/>
  
   <div class="container-fluid search-result">
  <fieldset>
    <legend>Task Name</legend>
    <blockquote id="commit_name_copy">Task name</blockquote>
    </table>
  </fieldset>  
  </div>

  <br/>
  
