<!--step1 content:basic information-->
  <div class="container-fluid search-result">
    <div class="row-fluid">
      <div class="span4">
        <fieldset>
          <legend>Structure</legend>
          <div class="images_copy_array">
            <img id="last_picture_copy" src="">
            <fieldset>
              <legend>Report Emails</legend>
              <blockquote id="commit_email_copy"></blockquote>
            </fieldset>
        </fieldset>
        <br/>
      </div>

      <div class="span8">
        <fieldset>
          <legend>Smile Names</legend>
          <div class="search_name_copy_array">
            <div class="alert-info" id="last_smile_copy"></div> 
          </div>
        </fieldset>
        <br/>
        <fieldset>
          <legend>Mol Files</legend>
          <table class="table">
            <thead>
              <tr>
                <td></td>
              </tr>
            </thead>
            <tbody id="fileupload_copy">
            </tbody>
          </table>
        </fieldset>
        </br>
        <fieldset>
          <legend>Mol String</legend>
          <div class="alert-info" id="mol_string_flag"></div> 
          <p id="mol_file_string_copy" loaded="false"></p>
        </fieldset>
      </div>
    </div>
  </div>

  <!--step2 content:model choice-->
  <div class="container-fluid search-result">
  <fieldset>
    <legend>Model Choice</legend>
    <table class="table" id="models_choice_copy">
      <thead>
        <tr><td>Models</td><td>Arguments</td></tr>
      </thead>
      <tbody id="model_copy_tbody">
        <tr class="success" id="model_koa_choice_copy" model="koa"  rel="modified_choice" visible="false"><td>koa</td>
          <td class="attrs">
            temperature:<span id="temperature_koa_copy">none</span>;
            humidity:<span id="humidity_koa_copy">80</span>%;
            other:<span id="other_koa_copy">none</span>;
          </td>
        </tr>
        <tr class="error" id="model_koh_choice_copy" model="koh"  rel="modified_choice" visible="false"><td>koh</td>
          <td class="attrs">
            temperature:<span id="temperature_koh_copy">none</span>;
            humidity:<span id="humidity_koh_copy">80</span>%;
            other:<span id="other_koh_copy">none</span>;
          </td>
        </tr>
        <tr class="success" id="model_koh_T_choice_copy" model="koh_T"  rel="modified_choice" visible="false"><td>koh_T</td>
          <td class="attrs">
            temperature:<span id="temperature_koh_T_copy">none</span>;
            humidity:<span id="humidity_koh_T_copy">80</span>%;
            other:<span id="other_koh_T_copy">none</span>;
          </td>
        </tr>
        <tr class="info" id="model_pl_choice_copy" model="pl"  rel="modified_choice" visible="false"><td>pl</td>
          <td class="attrs">
            temperature:<span id="temperature_pl_copy">none</span>;
            humidity:<span id="humidity_pl_copy">80</span>%;
            other:<span id="other_pl_copy">none</span>;
          </td>
        </tr>
        <tr class="success" id="model_koc_choice_copy" model="koc" rel="modified_choice" visible="false"><td>koc</td>
          <td class="attrs">
            temperature:<span id="temperature_koc_copy">none</span>;
            humidity:<span id="humidity_koc_copy">80</span>%;
            other:<span id="other_koc_copy">none</span>;
          </td>
        </tr>


        <tr class="success" id="model_bcf_choice_copy" model="bcf" rel="modified_choice" visible="false"><td>bcf</td>
          <td class="attrs">
            temperature:<span id="temperature_bcf_copy">none</span>;
            humidity:<span id="humidity_bcf_copy">80</span>%;
            other:<span id="other_bcf_copy">none</span>;
          </td>
        </tr>
        <tr class="error" id="model_pkd_choice_copy" model="pkd"  rel="modified_choice" visible="false"><td>pkd</td>
          <td class="attrs">
            temperature:<span id="temperature_pkd_copy">none</span>;
            humidity:<span id="humidity_pkd_copy">80</span>%;
            other:<span id="other_pkd_copy">none</span>;
          </td>
        </tr>
        <tr class="info" id="model_ppk_choice_copy" model="ppk"  rel="modified_choice" visible="false"><td>ppk</td>
          <td class="attrs">
            temperature:<span id="temperature_ppk_copy">none</span>;
            humidity:<span id="humidity_ppk_copy">80</span>%;
            other:<span id="other_ppk_copy">none</span>;
          </td>
        </tr>
        <tr class="success" id="model_dfs_choice_copy" model="dfs"  rel="modified_choice" visible="false"><td>dfs</td>
          <td class="attrs">
            temperature:<span id="temperature_dfs_copy">none</span>;
            humidity:<span id="humidity_dfs_copy">80</span>%;
            other:<span id="other_dfs_copy">none</span>;
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>  
  </div>

  <!--step3 content:notes-->
  <div class="container-fluid search-result">
  <fieldset>
    <legend>Response File Type</legend>
    <div class="alert-success" id="response_type_copy">
      <p class="span" id="choice_txt_selected" visible="true">TXT</p>
      <p class="span" id="choice_pdf_selected" visible="true" >PDF</p>
      <p class="span" id="choice_csv_selected" visible="true" >CSV</p>
    </div> 
    </table>
  </fieldset>  
  </div>
  
  <br/>
  <div class="container-fluid search-result">
  <fieldset>
    <legend>Notes</legend>
    <blockquote id="commit_notes_copy"></blockquote>
    </table>
  </fieldset>  
  </div>
  <br/>
  
   <div class="container-fluid search-result">
  <fieldset>
    <legend>Task Name</legend>
    <blockquote id="commit_name_copy"></blockquote>
    </table>
  </fieldset>  
  </div>

  <br/>
  
