<!--filesupload-->
<link rel="stylesheet" href="{{ STATIC_URL }}style/jquery.fileupload-ui.css">
{% load upload_tags %}
<br/>
<div class="" id="molfiles">
    <form id="fileupload" method="post" action="." enctype="multipart/form-data">{% csrf_token %}
        <div class="row fileupload-buttonbar" id="addinput">
            <div class="span12">
                <button class="btn btn-primary fileinput-button" style="height:50px">
                    <i class="icon-plus icon-white"></i>
                    <input type="file" name="file" multiple >
                    <span>Add files...</span>
                </button>
                <button type="submit" class="btn btn-success start" style="height:50px"  rel="fileupload_operation">
                    <i class="icon-upload icon-white"></i>
                    <span>Start upload</span>
                </button>
                <button type="button" class="btn btn-info" id="upload_update">
                    <i class="icon-refresh icon-white"></i>
                    <span>Commit update</span>
                </button>
            </div>
            <div class="span5 fileupload-progress fade">
                <div class="progress progress-success progres-striped active">
                    <div class="bar" style="width:0%"></div>
                </div>
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <div class="fileupload-loading"></div>
        <table class="table table-striped"  id="files_table" >
          <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
        </table>
    </form>
    <div class="fileupload-content">
        <table class="files"></table>
        <div class="fileupload-progressbar"></div>
    </div>
</div>


<!--files list-->
{% upload_js %}

<!--Files Upload Tips-->
<br/>
<div class="alert alert-success" id="filesupload-tips" >
	<button type="button" class="close" data-dismiss="alert">x</button>
	<h3><strong>Files Upload tips!</strong></h3>
	<br/>
	<ul>
		<li>The maximum file size for uploads in this demo is <strong> 50 MB</strong> "(default file size is unlimited)" </li>
		<li>Only image files <strong> (MOL, SDF) </strong> are allowed in this demo (by default there is no file type restriction).</li>
		<li>In TXT, CSV files, you can write cas, smiles, name etc.</li>
		<li>You can drag & drop files from your desktop on this webpage with Google Chrome, Mozilla Firefox and Apple Safari.</li>
	</ul>
</div>

