<!--filesupload-->
<link rel="stylesheet" href="{{ STATIC_URL }}style/jquery.fileupload-ui.css">
{% load upload_tags %}
<br/>
<div id="molfiles">
  <form id="fileupload" method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}
        <div class="fileupload-buttonbar" id="addinput">
            <div class="row">
              <div class="col-md-3">
                <a class="btn btn-primary fileinput-button  btn-lg btn-block ">
                    <input type="file" name="file" multiple >
                    <span>选择文件</span>
                </a>
              </div>
              <!--div class="col-md-3">
                <a type="submit" class="btn btn-success btn-lg btn-block start" rel="fileupload_operation">
                    <i class="icon-upload icon-white"></i>
                    <span>批量上传</span>
                </a>
              </div-->
              <div class="col-md-3">
                <a type="button" class="btn btn-info  btn-lg btn-block " id="upload_update">
                    <i class="icon-refresh icon-white"></i>
                    <span>确认提交</span>
                </a>
              </div>
            </div>
            <div class="fileupload-progress fade">
                <div class="progress progress-success progres-striped active">
                    <div class="bar" style="width:0%"></div>
                </div>
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <div class="fileupload-loading"></div>
        <table class="table table-striped"  id="files_table" >
          <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
        </table>
    </form>
    <div class="fileupload-content">
        <table class="files"></table>
        <div class="fileupload-progressbar"></div>
    </div>
</div>


<!--files list-->
{% upload_js %}

<!--Files Upload Tips-->
<div class="alert " id="filesupload-tips" style="font-size:14px">
  <p><strong>计算文件上传说明:</strong></p>
  <ul>
    <li>单个文件体积最大不超过<strong> 50 MB</strong></li>
    <li>目前仅支持<strong> (MOL, SDF) </strong>文件格式</li>
    <li>Google Chrome, Mozilla Firefox and Apple Safari 浏览器支持直接拖拽文件上传.</li>
  </ul>
</div>

