
<!-- home page signup-->
<div id="signup" class="featurette">
	<form accept-charset="UTF-8" autocomplete="off" class="home-signup" method="post">
		<dl class="big-form">
			<input type="text" class="textfield signup" name="user-name"
				placeholder="Pick a username" >
		</dl>
		<dl class="big-form">
			<input type="text" class="textfield signup" name="user-email"
				placeholder="Your email">
		</dl>	
		<dl class="big-form">
			<input type="password" class="textfield signup" name="user-password"
				placeholder="Create a passsword">
		</dl>			
		<dl class="big-form">
			<input type="password" class="textfield signup" name="user-password2"
				placeholder="Repeat your passsword">
			<p class="note">Tip: use at least one number and at least 7 characters.</p> 
		</dl>	
		<dl class="big-form">
		<button class=" btn  btn-primary signup" type="submit">Sign up for free</button>
		<p class="plan">
			<a href="/#explore">See plans and pricing</a>	
		</p>
		</dl>
	
	</form>
	<h1 class="featurette-heading">Calculate Chemistry better, together.</h1>
	<p class="lead">Powerful collaboration, review, and code management for open source and private development projects.</p>
</div>
