<br/>
<table class="table">
  <tbody>
    <tr>
      <td width="15%">CAS号</td>
      <td>
        <div class="form-group">
          <input type="text" class="form-control" id="query_input" style="width:100%">
        </div>
      </td>
    </tr>

    <tr>
      <td>SMILES码</td>
      <td>
        <div class="form-group">
          <input type="text" class="form-control" id="query_input" >
        </div>
      </td>
    </tr>

    <tr>
      <td>中文名称</td>
      <td>
        <div class="form-group">
          <input type="text" class="form-control" id="query_input" >
        </div>
      </td>
    </tr>

    <tr>
      <td>英文名称</td>
      <td>
        <div class="form-group">
          <input type="text" class="form-control" id="query_input" >
        </div>
      </td>
    </tr>
  </tbody>
</table>

<a class="btn btn-primary" style="width:90px;float:right">搜索</a>

<!-- results -->
{% include "widgets/search_result.html" %}
