<div class="page-header">
  <h3>Inputs</h3>
</div>
<div>
  <fieldset>
      <legend>Input method</legend>
      <table class="table table-hover">
        <thead>
          <tr>
            <td width="15%">Type</td>
            <td width="85%">Content</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Smiles Name</td>
            <td>{{suitetask.smiles}}</td>
          </tr>
          <tr>
            <td>Draw Smiles</td>
            <td></td>
          </tr>
          {%for molfile in molfile_lists%}
            <tr>
              <td>Mol Files</td>
              <td><a class="btn btn-primary" href="{{molfile.file_obj.url}}">{{molfile.name}}</a></td>
            </tr>
          {%endfor%}
        </tbody>
      </table>
  </fieldset>

</div>
