<!--logo section-->
<div id='head-section'>
  <img src="{{STATIC_URL}}/images/logo.png" id='logo'>
  <img src="{{STATIC_URL}}/images/chem-assist.png" id='chem-assist'>
</div>

<div id='split-line'></div>

<div class='navbar navbar-embossed' role='navigation'>
  <div class='collapse navbar-collapse' id='nav-bar-section'>
    <ul class='nav navbar-nav navbar-left large-margin'>
      <li><a href='/'>首页</a></li>
      <li class='dropdown'>
        <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
          预测计算 <b class="caret"></b>
        </a>
        <span class="dropdown-arrow"></span>
        <ul class='dropdown-menu'>
          <li><a href='/newtask'>新建计算</a></li>
          <li><a href='#'>任务列表</a></li>
        </ul>
      </li>
      <li><a href='/'>平台愿景</a></li>
      <li><a href='/'>软件帮助</a></li>
    </ul>
    <ul class='nav navbar-nav navbar-right'>
      <li><a href='/accounts/login/'>登陆</a></li>
      <li><a href='/accounts/register/'>注册</a></li>
    </ul>
  </div>
</div>
