<!--Task list-->
<ul class="tasklist">
{% for SuiteTask in SuiteTask_list %}  
	<li class="queue-success">
		<ul class="tasklist pull-right">
			<p class="label label-success user-info-label">Environment toxicology</p>
			<p class="label label-important user-info-label">Environment behavior</p>
			<p class="label label-info user-info-label" >Health toxicology</p>
		</ul>
		
		<h3>
			<image src="/static/images/save48.png"></image>
      <a href="/details">{{SuiteTask.name}}</a>
		</h3>
    <p class="task-introduction">{{SuiteTask.notes}}</p>
    <p class="task-date">{{SuiteTask.start_time}} ~ {{SuiteTask.end_time}}</p>
		<a class="btn btn-primary pull-right" href="/details">Go Results!</a>
		<ul class="model-label">
      <span><i class="icon-heart"></i>{{SuiteTask.has_fininshed_tasks}}</span>
			<span class="badge badge-success">KOF</span>
			<span class="badge badge-warning">PL</span>
			<span class="badge badge-important">BCF</span>
			<span class="badge badge-info">PPK</span>
			<span class="badge badge-inverse">DFS</span>
		</ul>
		<hr/>
  </li>
{% endfor %}
</ul>
