<!--Task list-->
<ul class="tasklist">
{% for task in history_lists%}  
<li class="{{task.status.category}}">
		<ul class="tasklist pull-right">
      {% for category in task.models_category_str_list %}
      <p class="label {{category.color}} user-info-label">{{category.value}}</p>
      {% endfor %}
		</ul>
		
		<h3>
      {%if task.status.category == "success"%}
			  <image src="/static/images/save48.png"></image>
      {%elif task.status.category == "failed"%}
			  <image src="/static/images/close-bug48.png"></image>
      {%else%}
			  <image src="/static/images/reload48.png"></image>
      {%endif%}
      <a href="{%url gui.views.suite_details_view task.sid%}">{{task.name}}</a>
		</h3>
    <p class="task-introduction">{{task.notes}}</p>
    <p class="task-date">{{task.start_time|date:"Y-m-d H:m"}} ~ {{task.end_time|date:"Y-m-d H:m"}}</p>
    {%if task.is_finished %}
    <a class="btn btn-primary pull-right" href="{%url gui.views.suite_details_view task.sid%}">Go Results!</a>
    {%endif%}
		<ul class="model-label">
      {%for model in task.models_str_list%}
      <span class="badge {{model.color}}">{{model.value|upper}}</span>
      {%endfor%}
		</ul>
    {%if not task.is_finished %}
      <p class="progress-value pull-right">{{task.progress_value}}%</p>
      <div class="progress task-progress-bar active task-progress-bar">
        <div class="bar" style="width:{{task.progress_value}}%;"></div>
      </div>
    {%endif%}
		<hr/>
  </li>
{% endfor %}
</ul>
