<!--Task list-->
<ul class="tasklist">
	<li class="queue-success">
		<ul class="tasklist pull-right">
			<p class="label label-success user-info-label">Environment toxicology</p>
			<p class="label label-important user-info-label">Environment behavior</p>
			<p class="label label-info user-info-label" >Health toxicology</p>
		</ul>
		
		<h3>
			<image src="/static/images/save48.png"></image>
			<a href="/details">Task 1</a>
		</h3>
		<p class="task-introduction">This is an introduction for Task1...</p>
		<p class="task-date">2012.12.01 ~ 2012.12.03</p>
		<ul class="model-label">
			<span><i class="icon-heart"></i>5</span>
			<span class="badge badge-success">KOF</span>
			<span class="badge badge-warning">PL</span>
			<span class="badge badge-important">BCF</span>
			<span class="badge badge-info">PPK</span>
			<span class="badge badge-inverse">DFS</span>
		</ul>
		<hr/>
	</li>
	<li class="queue-success">
		<ul class="tasklist pull-right">
			<p class="label label-success user-info-label">Environment toxicology</p>
			<p class="label label-important user-info-label">Environment behavior</p>
			<p class="label label-info user-info-label" >Health toxicology</p>
		</ul>
		
		<h3>
			<image src="/static/images/save48.png"></image>
			<a href="/details">Task 2</a>
		</h3>
		<p class="task-introduction">This is an introduction for Task2...</p>
		<p class="task-date">2012.12.02 ~ 2012.12.04</p>
		<ul class="model-label">
			<span><i class="icon-heart"></i>3</span>
			<span class="badge badge-success">KOF</span>
			<span class="badge badge-warning">PL</span>
			<span class="badge badge-important">BCF</span>
		</ul>
		<hr/>
	</li>
	
	<li class="queue-failed" >
		<ul class="tasklist pull-right">
			<p class="label label-success user-info-label">Environment toxicology</p>
			<p class="label label-info user-info-label" >Health toxicology</p>
		</ul>
		
		<h3>
			<image src="/static/images/close-bug48.png"></image>
			<a href="/details">Task 3</a>
		</h3>
		<p class="task-introduction">This is an introduction for Task1...</p>
		<p class="task-date">2012.12.01 ~ 2012.12.03</p>
		<ul class="model-label">
			<span><i class="icon-heart"></i>5</span>
			<span class="badge badge-success">KOF</span>
			<span class="badge badge-warning">PL</span>
			<span class="badge badge-important">BCF</span>
			<span class="badge badge-info">PPK</span>
			<span class="badge badge-inverse">DFS</span>
		</ul>
		<p class="progress-value pull-right">25%</p>
		<div class="progress task-progress-bar">
			<div class="bar bar-info" style="width: 25%;"></div>
		</div>
		<hr/>
	</li>
	<li class="queue-failed" >
		<ul class="tasklist pull-right">
			<p class="label label-success user-info-label">Environment toxicology</p>
		</ul>
		
		<h3>
			<image src="/static/images/close-bug48.png"></image>
			<a href="/details">Task 4</a>
		</h3>
		<p class="task-introduction">This is an introduction for Task1...</p>
		<p class="task-date">2012.12.01 ~ 2012.12.03</p>
		<ul class="model-label">
			<span><i class="icon-heart"></i>5</span>
			<span class="badge badge-success">KOF</span>
			<span class="badge badge-warning">PL</span>
			<span class="badge badge-important">BCF</span>
			<span class="badge badge-info">PPK</span>
			<span class="badge badge-inverse">DFS</span>
		</ul>
		<p class="progress-value pull-right">35%</p>
		<div class="progress task-progress-bar task-progress-bar">
			<div class="bar" style="width: 35%;"></div>
		</div>
		<hr/>
	</li>
	<li class="queue-inprogress" >
		<ul class="tasklist pull-right">
			<p class="label label-success user-info-label">Environment toxicology</p>
		</ul>
		
		<h3>
			<image src="/static/images/reload48.png"></image>
			<a href="/details">Task 5</a>
		</h3>
		<p class="task-introduction">This is an introduction for Task1...</p>
		<p class="task-date">2012.11.01 ~ 2012.12.03</p>
		<ul class="model-label">
			<span><i class="icon-heart"></i>5</span>
			<span class="badge badge-success">KOF</span>
			<span class="badge badge-warning">PL</span>
			<span class="badge badge-important">BCF</span>
			<span class="badge badge-info">PPK</span>
			<span class="badge badge-inverse">DFS</span>
		</ul>
		<p class="progress-value pull-right">50%</p>
		<div class="progress progress-striped active task-progress-bar">
			<div class="bar bar-success" style="width: 35%;"></div>
			<div class="bar bar-warning" style="width: 15%;"></div>
		</div>
		<hr/>
	</li>
	<li class="queue-inprogress" >
		<ul class="tasklist pull-right">
			<p class="label label-success user-info-label">Environment toxicology</p>
		</ul>
		
		<h3>
			<image src="/static/images/reload48.png"></image>
			<a href="/details">Task 6</a>
		</h3>
		<p class="task-introduction">This is an introduction for Task6...</p>
		<p class="task-date">2011.12.01 ~ 2011.12.03</p>
		<ul class="model-label">
			<span><i class="icon-heart"></i>5</span>
			<span class="badge badge-success">KOF</span>
			<span class="badge badge-warning">PL</span>
			<span class="badge badge-important">BCF</span>
			<span class="badge badge-info">PPK</span>
			<span class="badge badge-inverse">DFS</span>
		</ul>
		<p class="progress-value pull-right">78%</p>
		<div class="progress progress-striped active task-progress-bar">
			<div class="bar bar-success" style="width: 35%;"></div>
			<div class="bar bar-warning" style="width: 15%;"></div>
			<div class="bar bar-danger" style="width: 25%;"></div>
		</div>
		<hr/>
	</li>
</ul>
