<!-- Search item bar -->
<!--search bar-->
<div class="container">
	<div class="pull-right">
		<ul class="nav nav-pills">
			<li class="active">
				<a href="#" class="filter" rel="all">All</a>
			</li>
			<li>
				<a href="#" class="filter" rel="success">Success</a>
			</li>
			<li >
				<a href="#" class="filter" rel="failed">Failed</a>
			</li>
			<li >
				<a href="#" class="filter" rel="inprogress">InProgress</a>
			</li>
		</ul>
	</div>
	<form class="navbar-form pull-left">
		<div class="input-append">
			<input type="text" class="span4" placeholder="Filter your history tasks...">
			<button class="btn" type="submit" ><i class="icon-search"></i>Go!</button>
			<button class="btn" type="button" id="option-search"><i class="icon-cog"></i>Options</button>
		</div>
	</form>	
</div>

<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}bootstrap-datepicker/css/datepicker.css" >

<!--options bar-->
<div class="container" id="search-options-panel" visible="false">
	<hr/>
	<div class="row">
		<div class="input-append date span3">
			<span class="add-on">
				<i class="icon-calendar"></i>
			</span>
			<input type="text" placeholder="start day" class="datepicker">
		</div>
		<div class="input-append date span3">
			<span class="add-on">
				<i class="icon-calendar"></i>
			</span>
			<input  type="text" placeholder="end day" class="datepicker">
		</div>
	</div>
	<br/>
	<!--model choice-->
	<label class="checkbox inline model-choice"><input type="checkbox" id="inlineCheckbox1" value="option1"> KOA</label>
	<label class="checkbox inline model-choice"><input type="checkbox" id="inlineCheckbox1" value="option1"> KOF</label>
	<label class="checkbox inline model-choice"><input type="checkbox" id="inlineCheckbox1" value="option1"> PL</label>
	<label class="checkbox inline model-choice"><input type="checkbox" id="inlineCheckbox1" value="option1"> BCF</label>
	<label class="checkbox inline model-choice"><input type="checkbox" id="inlineCheckbox1" value="option1"> PKD</label>
	<label class="checkbox inline model-choice"><input type="checkbox" id="inlineCheckbox1" value="option1"> PPK</label>
	<label class="checkbox inline model-choice"><input type="checkbox" id="inlineCheckbox1" value="option1"> DFS</label>
</div>
