<!--Suite Task Statistics-->
<div class="page-header">
  <h3>Details</h3>
</div><!--statistics page header end-->
<table class="table table-hover ">
  <thead>
    <tr>
      <td>Status</td>
      <td>Model</td>
      <td>Category</td>
      <td>Temperature</td>
      <td>Humidity</td>
      <td>Others</td>
      <td>Results</td>
      <td>Time</td>
      <td>Details</td>
    </tr>
  </thead>
  <tbody>
    {%for single in single_lists%}
    <tr>
      <td>
        {% if single.status.category == "success" %}
          <p class="label label-success">Success</p>
        {% elif single.status.category == "failed" %}
          <p class="label label-important">Failed</p>
        {% else %}
          <p class="label label-info">Calculating</p>
        {%endif%}
      </td>
      <td>{{single.model|upper}}</td>
      <td>{{single.model.origin_type}}</td>
      <td>{{single.temperature}}</td>
      <td>{{single.humidity}}</td>
      <td>{{single.others}}</td>
      <td>{{single.results}}</td>
      <td>{{single.calculate_mol.upload_time|date:"m-d H:m"}}</td>
      <td>
        <a class="btn btn-primary" href="{%url gui.views.task_details_view single.pid%}">Details</a>
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table><!--end table-->
