<!--Suite Task Statistics-->
<div class="page-header">
  <h3>{{suitetask.name}}</h3>
</div>
<div>
  <blockquote >{{suitetask.notes}}</blockquote>
</div>
<br/>
<div class="page-header">
  <h3>Overview</h3>
</div><!--statistics page header end-->

<div class="row">
  <div class="span2">
    {%if suitetask.status.category == "success"%}
      <image src="/static/images/save256.png" style="width: 140px; height: 140px;" ></image>
    {%elif suitetask.status.category == "failed"%}
		  <image src="/static/images/close-bug256.png" style="width: 140px; height: 140px;" ></image>
    {%else%}
      <image src="/static/images/reload256.png" style="width: 140px; height: 140px;" ></image>
    {%endif%}
  </div> 
  <div class="span3">
    <h3>{{suitetask.status}}</h3>
    <h5>Start Time: {{suitetask.start_time|date:"Y-m-d H:m"}}</h5>
    <h5>End Time: {{suitetask.end_time|date:"Y-m-d H:m"}}</h5>
    <h5>Reports Email: {{suitetask.email}}</h5>
  </div>
  <div class="span3">
    <h3>Statistics</h3>
    <h5>Total Tasks:{{suitetask.total_tasks}}</h5>
    <h5>Finished Tasks:{{suitetask.has_finished_tasks}}</h5>
  </div>
  {%if singletask.total_tasks == singletask.has_finished_tasks and suitetask.result_pdf %}
  <div class="span3">
    <h3>Report</h3>
    <a href="{{suitetask.result_pdf.url}}" target="_blank"><image src="/static/images/pdf256.png" style="width: 70px; height: 70px;"></a>
  </div>
  {%endif%}
</div>
<br/>
