<!--head-->
{%if singletask.file_obj.file_source.category == "smiles"%}
  {%include "widgets/result_smiles.html"%}
{%elif singletask.file_obj.file_source.category == "drawing"%}
  {%include "widgets/result_drawing.html"%}
{%elif singletask.file_obj.file_source.category == "upload"%}
  {%include "widgets/result_upload.html"%}
{%else%}
  {%include "widgets/result_other.html"%}
{%endif%} 

<!--Model Info-->
<div class="container-fluid ">
  <fieldset>
    <legend>Model Choice</legend>
<table class="table table-hover ">
  <thead>
    <tr>
      <td>Model</td>
      <td>Category</td>
      <td>Temperature</td>
      <td>Humidity</td>
      <td>Others</td>
    </tr>
  </thead>
  <tbody>
    <tr class="success">
      <td>{{singletask.model|upper}}</td>
      <td>{{singletask.model.origin_type}}</td>
      <td>{{singletask.temperature}}</td>
      <td>{{singletask.humidity}}</td>
      <td>{{singletask.others}}</td>
    </tr>
  </tbody>
</table><!--end table-->
</fieldset>  
</div>
<br/>
<div class="container-fluid">
  <fieldset>
    <legend>Results</legend>
    <table class="table table-hover">
      <thead>
        <tr>
          <td>Calculate Value</td>
          <td>Calculate Record</td>
        </tr>
      </thead>
      <tbody>
        <tr class="success">
          <td width="25%">{{singletask.results}}</td>
          <td>{{singletask.result_state}}</td>
        </tr>
      </tbody>
    </table>
  </fieldset>
</div>
<br/>
<div class="container-fluid">
  <fieldset>
    <legend>Notes</legend>
    <blockquote id="commit_notes_copy">{{singletask.sid.notes}}</blockquote>
    </table>
  </fieldset>  
</div>
<br/>
