<!--  calculate task step2 -->
<div class="calculate-steps" >
  <div class="page-header">
    <h2>STEP2: Choice Chemistry Models</h2> 
  </div>
  <div id="models-choice-panel">
    {% include "widgets/models/KOA.html" %}	
    {% include "widgets/models/KOC.html" %}	
    {% include "widgets/models/PL.html" %}
    {% include "widgets/models/KOH.html" %}
    {% include "widgets/models/KOH_T.html" %}
    {% include "widgets/models/PKD.html" %}
    {% include "widgets/models/PPK.html" %}
    {% include "widgets/models/DFS.html" %}
    {% include "widgets/models/RP.html" %}
    <div class="row-fluid">
      <div class="span4 offset9 btn-group">
        <a class="btn btn-danger btn-large " id="model-cancel-all">Cancel ALL</a>
        <a class="btn btn-primary btn-large " id="model-choice-all">Choice ALL</a>
      </div>
    </div>
  </div>
</div>
