<!--  calculate task step2 -->
<div class="calculate-steps" >
	<div class="page-header">
		<h2>STEP2: Choice Chemistry Models</h2> 
	</div>
	
	<!--choice models with collapse plugin-->
	<div class="accordion" id="models-choice-accordions">
		
		<!--model 1-->
		<div class="models-choice-div">
			<!--title-->
			<div class="btn-group" href="#collapse1">
					<a class="user-info accordion-toggle" data-toggle="collapse" data-parent="#models-choice-accordions" href="#collapse1">KOA</a>
					<a class="label label-important user-info-label" href="#collapse1">Environment behavior</a>
			</div>
			<!--Content-->
			<div id="collapse1" class="accordion-body collapse in">
				<div class="accordion-inner">
					Anim pariatur cliche...
				</div>
			</div>
		</div>
		
		<!--model 2-->
		<div class="models-choice-div">
			<!--title-->
			<div class="btn-group"> 
				<a class="user-info accordion-toggle" data-toggle="collapse" data-parent="#models-choice-accordions" href="#collapse2">
					KOF	
				</a>
				<a class="label label-important user-info-label" href="#collapse2">Environment behavior</a>
			</div>
			<!--Content-->
			<div id="collapse2" class="accordion-body collapse">
				<div class="accordion-inner">
					Anim pariatur cliche...
				</div>
			</div>
		</div>
		
		<!--model 3-->
		<div class="models-choice-div">
			<!--title-->
			<div class="btn-group"> 
				<a class="user-info accordion-toggle" data-toggle="collapse" data-parent="#models-choice-accordions" href="#collapse3">
					PL	
				</a>
				<a class="label label-important user-info-label" href="#collapse3">Environment behavior</a>
			</div>
			<!--Content-->
			<div id="collapse3" class="accordion-body collapse">
				<div class="accordion-inner">
					Anim pariatur cliche...
				</div>
			</div>
		</div>
		
		<!--model 4-->
		<div class="models-choice-div">
			<!--title-->
			<div class="btn-group"> 
				<a class="user-info accordion-toggle" data-toggle="collapse" data-parent="#models-choice-accordions" href="#collapse4">
					BCF	
				</a>
				<a class="label label-success user-info-label" href="#collapse4">Environment toxicology</a>
			</div>
			<!--Content-->
			<div id="collapse4" class="accordion-body collapse">
				<div class="accordion-inner">
					Anim pariatur cliche...
				</div>
			</div>
		</div>
		
		
		<!--model 5-->
		<div class="models-choice-div">
			<!--title-->
			<div class="btn-group"> 
				<a class="user-info accordion-toggle" data-toggle="collapse" data-parent="#models-choice-accordions" href="#collapse5">
					PKD
				</a>
				<a class="label label-success user-info-label" href="#collapse5">Environment toxicology</a>
			</div>
			<!--Content-->
			<div id="collapse5" class="accordion-body collapse">
				<div class="accordion-inner">
					Anim pariatur cliche...
				</div>
			</div>
		</div>
		
		
		<!--model 6-->
		<div class="models-choice-div">
			<!--title-->
			<div class="btn-group"> 
				<a class="user-info accordion-toggle" data-toggle="collapse" data-parent="#models-choice-accordions" href="#collapse6">
					PPK	
				</a>
				<a class="label label-info user-info-label" href="#collapse6">Health toxicology</a>
			</div>
			<!--Content-->
			<div id="collapse6" class="accordion-body collapse in">
				<div class="accordion-inner">
					Anim pariatur cliche...
				</div>
			</div>
		</div>
		
		
		<!--model 7-->
		<div class="models-choice-div">
			<!--title-->
			<div class="btn-group"> 
				<a class="user-info accordion-toggle" data-toggle="collapse" data-parent="#models-choice-accordions" href="#collapse7">
					DFS	
				</a>
				<a class="label label-info user-info-label" href="#collapse7">Health toxicology</a>
			</div>
			<!--Content-->
			<div id="collapse7" class="accordion-body collapse in">
				<div class="accordion-inner">
					Anim pariatur cliche...
				</div>
			</div>
		</div>
	
	</div>
	<!--other conveniented buttons and choices-->
	
</div>