{%if singletask.file_obj.file_source.category == "smiles"%}
  {%include "widgets/result_smiles.html"%}
{%elif singletask.file_obj.file_source.category == "drawing"%}
  {%include "widgets/result_drawing.html"%}
{%elif singletask.file_obj.file_source.category == "upload"%}
  {%include "widgets/result_upload.html"%}
{%else%}
  {%include "widgets/result_other.html"%}
{%endif%} 

<div class="container-fluid ">
  <fieldset>
    <legend>计算模型</legend>
<table class="table table-hover ">
  <thead>
    <tr>
      <td>模型名称</td>
      <td>模型类别</td>
      <td>温度参数</td>
    </tr>
  </thead>
  <tbody>
    <tr class="success">
      <td>{{singletask.model|upper}}</td>
      <td>{{singletask.model.origin_type}}</td>
      <td>{{singletask.temperature}}</td>
    </tr>
  </tbody>
</table><!--end table-->
</fieldset>  
</div>
<div class="container-fluid">
  <fieldset>
    <legend>计算结果</legend>
    <table class="table table-hover">
      <thead>
        <tr>
          <td>计算结果</td>
          <td>计算状态</td>
        </tr>
      </thead>
      <tbody>
        <tr class="success">
          <td width="25%">{{singletask.results}}</td>
          <td>{{singletask.result_state}}</td>
        </tr>
      </tbody>
    </table>
  </fieldset>
</div>
<div class="container-fluid">
  <fieldset>
    <legend>备注</legend>
    <blockquote id="commit_notes_copy">{{singletask.sid.notes}}</blockquote>
    </table>
  </fieldset>  
</div>
<br/>
