<!--  calculate task step2 -->
<div class="calculate-steps" >
	<div class="page-header">
		<h2>STEP2: Choice Chemistry Models</h2> 
	</div>
	
	<!--choice models with collapse plugin-->
	<div class="accordion" id="models-choice-accordions">
		
		<!--model 1-->
		<div class="accordion-group">
			<!--title-->
			<div class="accordion-heading"> 
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#models-choice-accordions" href="#collapse1">
					KOA	
				</a>
				<span class="label label-success">Environment behavior</span>
			</div>
			<!--Content-->
			<div id="collapse1" class="accordion-body collapse in">
				<div class="accordion-inner">
					Anim pariatur cliche...
				</div>
			</div>
		</div>
		
		<!--model 2-->
		<div class="accordion-group">
			<!--title-->
			<div class="accordion-heading"> 
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#models-choice-accordions" href="#collapse2">
					KOF	
				</a>
				<span class="label label-success">Environment behavior</span>
			</div>
			<!--Content-->
			<div id="collapse2" class="accordion-body collapse">
				<div class="accordion-inner">
					Anim pariatur cliche...
				</div>
			</div>
		</div>
		
		<!--model 3-->
		<div class="accordion-group">
			<!--title-->
			<div class="accordion-heading"> 
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#models-choice-accordions" href="#collapse3">
					PL	
				</a>
				<span class="label label-success">Environment behavior</span>
			</div>
			<!--Content-->
			<div id="collapse3" class="accordion-body collapse">
				<div class="accordion-inner">
					Anim pariatur cliche...
				</div>
			</div>
		</div>
		
		<!--model 4-->
		<div class="accordion-group">
			<!--title-->
			<div class="accordion-heading"> 
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#models-choice-accordions" href="#collapse4">
					BCF	
				</a>
				<span class="label label-success">Environment toxicology</span>
			</div>
			<!--Content-->
			<div id="collapse4" class="accordion-body collapse">
				<div class="accordion-inner">
					Anim pariatur cliche...
				</div>
			</div>
		</div>
		
		
		<!--model 5-->
		<div class="accordion-group">
			<!--title-->
			<div class="accordion-heading"> 
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#models-choice-accordions" href="#collapse5">
					PKD
				</a>
				<span class="label label-success">Environment toxicology</span>
			</div>
			<!--Content-->
			<div id="collapse5" class="accordion-body collapse">
				<div class="accordion-inner">
					Anim pariatur cliche...
				</div>
			</div>
		</div>
		
		
		<!--model 6-->
		<div class="accordion-group">
			<!--title-->
			<div class="accordion-heading"> 
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#models-choice-accordions" href="#collapse6">
					PPK	
				</a>
				<span class="label label-success">Health taxicology</span>
			</div>
			<!--Content-->
			<div id="collapse6" class="accordion-body collapse in">
				<div class="accordion-inner">
					Anim pariatur cliche...
				</div>
			</div>
		</div>
		
		
		<!--model 7-->
		<div class="accordion-group">
			<!--title-->
			<div class="accordion-heading"> 
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#models-choice-accordions" href="#collapse7">
					DFS	
				</a>
				<span class="label label-success">Health taxicology</span>
			</div>
			<!--Content-->
			<div id="collapse7" class="accordion-body collapse in">
				<div class="accordion-inner">
					Anim pariatur cliche...
				</div>
			</div>
		</div>
	
	</div>
	<!--other conveniented buttons and choices-->
	
</div>