<div class="calculate-steps">
  <div class="page-header">
    <h2>STEP3: Response Message </h2>
  </div>
  <div class="container-fluid">
    <div class="row-fluid show-grid">
      <div class="span6">
        <fieldset>
          <legend>Task Name</legend>
          <input class="span10" id="commit_name" type="TEXT"  placeholder="unique name for task...">
        </fieldset>
        <fieldset>
          <legend>Results Email Notification</legend>
          <input class="span10" id="commit_email" type="TEXT" value="{{request.user.email}}" placeholder="notify email" >
        </fieldset>
      </div><!--end left span-->
      <div class="span6">
        <fieldset>
          <legend>Commit Notes</legend>
          <textarea rows="5" cols="8" id="commit_notes" style="margin: 0px 0px 10px; width: 469px; height: 135px;"></textarea>
        </fieldset>
      </div><!--end right span-->
    </div><!--end row-fluid-->
  </div><!--end container-->
</div><!--end step3-->
<br/>

<div class="calculate-steps" >
  <!--Operations Button-->
  <div class="container-fluid search-result">
  <center>
    <div class="rows">
      <div class="span4">
        <button class="btn btn-primary show-btn" visible="true" id="commit-show-btn">Show</button>
      </div>
      <div class="span6">
		    <button class="btn btn-large btn-success calculated-btn" id="commit-saved-btn">Calculate</button>
      </div>
    </div>
  </center>
  </div>
</div>
<div id="calculate-submit-info" class="alert alert-error"></div>
<br/>
{% include "widgets/pre.html" %} 
