<!--  calculate task step3 -->
<div class="calculate-steps">
  <div class="page-header">
    <h2>STEP3: Response Message </h2>
  </div>
  
  <div class="container-fluid">
    <div class="row-fluid show-grid">
      <div class="span6">
        <fieldset>
          <legend>Response Method</legend>
          <div class="alert-success response-label">
            1. WEB Download
          </div>
          <div class="alert-success response-label">
            2. Email Deliver
          </div>
        </fieldset>
        
        <br/>
        <fieldset>
          <legend>Presentation Mode</legend>
          <div class="span3">
            <label class="checkbox left-txt alert-info filetype"><input type="checkbox" id="choice_txt" value="optiontxt">TXT</label>
          </div>
          <div class="span3">
            <label class="checkbox left-txt alert-info filetype"><input type="checkbox" id="choice_csv" value="optioncsv">CSV</label>
          </div>
          <div class="span3">
            <label class="checkbox left-txt alert-info filetype"><input type="checkbox" id="choice_pdf" value="optionpdf">PDF</label>
          </div>
        </fieldset>

      </div>
      <div class="span6">
          <legend>Commit Notes</legend>
          <textarea rows="5" cols="8" id="commit_notes" style="margin: 0px 0px 10px; width: 469px; height: 163px;"></textarea>
        </fieldset>
      </div>
    </div>

  </div>

</div>

