<!--titile user information bar-->

<div class="container">
	<div class="btn-group pull-right">
		<a href="/info" rel="tooltip" class="btn btn-info"><i class="icon-star"></i>Total</a>
		<a href="/info" class="user-count">30<a>
		<a href="/info" rel="tooltip" class="btn btn-success"><i class="icon-filter"></i>Query</a>
		<a href="/info" class="user-count">55<a>
		<a href="/info" rel="tooltip" class="btn btn-danger"><i class="icon-tag"></i>Remainn</a>
		<a href="/info" class="user-count">100<a>
	</div>
	<div class="btn-group">
		<a href="/info" class="user-info">{{request.user.username}}</a>
		<a href="/info" class="label label-important user-info-label">VIP</a>
		<a href="/info" class="label user-info-label">Level 1</a>
		<a href="/info" class="label label-warning user-info-label">Enterprise</a>
	</div>
</div>

 