<!--titile user settings/profilermation bar-->

<div class="container">
	<div class="btn-group pull-right">
		<a href="/settings/profile" rel="tooltip" class="btn btn-settings/profile"><i class="icon-star"></i>Total</a>
		<a href="/settings/profile" class="user-count">{{info_context.user_grade.total_num}}<a>
		<a href="/settings/profile" rel="tooltip" class="btn btn-success"><i class="icon-filter"></i>Query</a>
		<a href="/settings/profile" class="user-count">{{data_context.query_num}}<a>
		<a href="/settings/profile" rel="tooltip" class="btn btn-danger"><i class="icon-tag"></i>Remainn</a>
		<a href="/settings/profile" class="user-count">{{data_context.remain_num}}<a>
	</div>
  <div class="btn-group">
    <a href="/settings/profile" class="user-info">{{request.user.username}}</a>
    <a href="/settings/profile" class="label label-important user-info-label">{{info_context.user_grade.grade}}</a>
    <a href="/settings/profile" class="label user-info-label">{{info_context.user_grade.account}}</a>
    <a href="/settings/profile" class="label label-warning user-info-label">{{info_context.user_grade.bill}}</a>
  </div>
</div>

 
