/*
* author:wei xin
*function: for user profile page style
*/
.profile{
	background-color: white;
	border-radius: 4px;
	}
.profile-username{
	border-radius: 4px;
	background: #1B1B1B;
	color: white;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
	border: 0;
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
	border-color: #252525;
	min-height: 40px;
	padding-right: 20px;
	padding-left: 20px;
	}
.profile-username-text{
	line-height: 40px;
	font-size: 20px;
	float: left;
	font-weight: bold;
	color: white;
	text-decoration: none;
	cursor: pointer;
}
.profile-username-text-edit{
	line-height: 40px;
	color: #999;
	text-decoration: none;
	cursor: pointer;
}
.profile-image{
	width: 138px;
	height: 138px;
}
.left{
	float:left;
}
.profile-header{
	padding: 19px 20px 30px;
	background: white;
	position: relative;
	height:130px;
}
.profile-utility{
	width: 289px;
	border-right: 1px solid #E5E5E5;
	border-color: #E5E5E5;
	margin-right: 29px;
	position: relative;
	height: 138px;
	zoom:1;
	clear:both;
}
.profile-utility .profile-image-wrap {
	width: 138px;
	height: 138px;
}
.utility-links{
	width: 136px;
	font-size: 11px;
}
.profile-info{
	height: 138px;
	width: 624px;
	position: relative;
}
.profile-info .title-location{
	margin: -4px 10px 4px 0;
	height: 22px;
}
.text-ellipsis{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.profile-info .occupation {
	margin-right: 10px;
	padding-right: 10px;
	font-size: 18px;
	line-height: 22px;
	display: inline;
}
.profile-info .location-website-fields {
	line-height: 20px;
}
.profile-info .location-website-fields .location {
	margin: 5px 0 -2px -4px;
	top: 5px;
}
.profile-info .location-website-fields .be-font-inline {
	cursor: default;
	font-family: 'Behance';
	font-size: 26px;
	font-weight: normal;
	text-transform: none;
	text-rendering: optimizeLegibility;
	position: relative;
	display: inline-block;
	line-height: 0;
	height: 15px;
	color: #999;
}
.profile-info .location-link {
	color: #494949;
}
.profile-info .location-website-fields .fields {
	margin-top: 3px;
}
.profile-info .field {
	color: #4C4C4C;
}
.social-icons {
	position: absolute;
	bottom: 0;
}
.user-stats {
	width: 187px;
	margin-top: -2px;
}
.user-stats .user-stat {
	line-height: 27px;
	border-bottom: 1px solid #E5E5E5;
}
user-stats .be-font-inline {
	color: #999;
	cursor: default;
	font-family: 'Behance';
	font-size: 26px;
	font-weight: normal;
	text-transform: none;
	text-rendering: optimizeLegibility;
	margin-right: 5px;
	position: relative;
	top: 4px;
	display: inline-block;
	line-height: 0;
	height: 15px;
}
.right{
	float:right;
}
/*************************profile bottom******************************/
.profile-bottom {
overflow: hidden;
width: auto;
min-height: 750px;
}
.ui-corner-bottom {
-webkit-border-radius: 0 0 4px 4px;
border-radius: 0 0 4px 4px;
}
.profile-bottom .user_leftbar {
background: whiteSmoke;
}
.col {
float: left;
margin-bottom: -99999em;
padding-bottom: 99999em;
min-height: 572px;
}
.below-header-shadow {
	-webkit-box-shadow: inset 0 6px 3px -3px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 6px 3px -3px rgba(0, 0, 0, 0.1);
}
.grid-9 {
width: 260px;
padding:34px 30px 0 20px;
}
.user-info-block {
margin-bottom: 30px;
position: relative;
width: 260px;
}
.user-info-header {
font-size: 11px;
text-transform: uppercase;
font-weight: bold;
padding-bottom: 3px;
border-bottom: 1px solid #D7D7D7;
margin-bottom: 13px;
color: #3C3C3C;
word-wrap: break-word;
}
.be-font-inline {
cursor: default;
font-family: 'Behance';
font-size: 26px;
line-height: 0;
font-weight: normal;
text-transform: none;
text-rendering: optimizeLegibility;
margin-right: 5px;
position: relative;
top: 4px;
display: inline-block;
line-height: 0;
height: 15px;
color: #999;
}
.user-info-content {
line-height: 18px;
color: #4C4C4C;
word-wrap: break-word;
overflow: hidden;
}
.user-info-content .small-text {
font-size: 12px;
margin-top: 5px;
font: normal normal normal 11px/14px Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.user-info-content a {
color: #3C3C3C;
}
.profile-list-item {
line-height: 23px;
}
.user_rightbar{
	width: 805px;
	padding: 15px 18px 0 30px;
	margin: 0;
}
.galleries-header {
margin-bottom: 20px;
font-weight: normal;
font-size: 14px;
height: 30px;
line-height: 30px;
float: left;
padding: 0;
padding-top: 0.05px;
width: 700px;
}

