{% extends "base/base.html" %}

{% block content %}

<!--div class="jumbotron">
        <h1>Comming Soon!</h1>
        <p class="lead">Let's we enjoy chemistry tool. It is powsed by Chemistry Group!</p>
</div-->
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/index.css" >
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/content.css" >
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/accounts_form.css" >


<div class="container form-container ">
  <h3>This is download page, .... *_* </h3>
</div>
{% endblock %}
