{% extends "base/base.html" %}

{% block content %}

{%if not is_client %}
<div class="btn-group pull-right">
  <a href="#" class="btn btn-primary filter" rel="all">全部</a>
  <a href="#" class="btn btn-primary filter" rel="success">成功</a>
  <a href="#" class="btn btn-primary filter" rel="failed">失败</a>
  <a href="#" class="btn btn-primary filter" rel="inprogress">正在计算</a>
</div>

<br/>
<hr/>
{%endif%}

<!--Task list-->
<ul class="tasklist">
  {% for task in history_lists%}  
  <li class="{{task.status.category}}">
    <ul class="tasklist pull-right">
      {%for model in task.models_str_list%}
        <span class="label {{model.color}}">{{model.value|upper}}</span>
      {%endfor%}
    </ul>
    
    <h3>
      {%if task.status.category == "success"%}
        <image src="/static/images/save48.png"></image>
      {%elif task.status.category == "failed"%}
        <image src="/static/images/close-bug48.png"></image>
      {%else%}
        <image src="/static/images/reload48.png"></image>
      {%endif%}
      <a href="{%url 'chemistry.views.suitetask' task.sid%}">{{task.name}}</a>
    </h3>
    {%if task.is_finished %}
      <a class="btn btn-primary pull-right" href="{%url 'chemistry.views.suitetask' task.sid%}">查看结果</a>
    {%endif%}

    <p class="task-introduction">{{task.notes}}</p>
    <p class="task-date">{{task.start_time|date:"Y-m-d H:i"}} ~ {{task.end_time|date:"Y-m-d H:i"}}</p>
    
    {%if not task.is_finished %}
      <p class="progress-value pull-right">{{task.progress_value}}%</p>
      <div class="progress task-progress-bar progress-striped active">
        <div class="progress-bar" style="width:{{task.progress_value}}%;"></div>
      </div>
    {%endif%}
    <hr/>
  </li>
  {% endfor %}
</ul>
{% endblock %}
