{% extends "base/base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-4">
    <div class="tree">
      <ul>
        <li>
          <span>模型选择</span>
          <ul>

            <li>
              <span><i class='glyphicon glyphicon-minus-sign'></i> 理化属性</span>
              <ul>
                <li>
                  <label class='checkbox' for='check_model_1a' model='model_1a'>
                    <input type="checkbox" value="" id="check_model_1a" data-toggle="checkbox">
                    正辛醇/空气分配系
                  </label>
                  <ul class="model-args" id='model_1a_args'>
                    <li>
                      <div class="form-group">
                        <input  args_type='temp' model='model_1a' type="text" placeholder="温度(摄氏度)" class="form-control" style='width:60%'>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <label class='checkbox' for='check_model_1b'  model='model_1b'>
                    <input type="checkbox" value="" id="check_model_1b" data-toggle="checkbox">
                    过冷液体蒸气压
                  </label>
                  <ul class="model-args" id='model_1b_args'>
                    <li>
                      <div class="form-group">
                        <input args_type='temp'  model='model_1b' type="text" placeholder="温度(摄氏度)" class="form-control" style='width:60%'>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            
            <li>
              <span><i class='glyphicon glyphicon-minus-sign'></i> 迁移转化</span>
              <ul>
                <li>
                  <label class='checkbox' for='check_model_2a'  model='model_2a'>
                    <input type="checkbox" value="" id="check_model_2a" data-toggle="checkbox">
                    生物富集因子
                  </label>
                  <ul class="model-args" id='model_2a_args'>
                    <li>
                      <div class="form-group">
                        <input args_type='temp' model='model_2a' type="text" placeholder="温度(摄氏度)" class="form-control" style='width:60%'>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <label class='checkbox' for='check_model_2b'  model='model_2b'>
                    <input type="checkbox" value="" id="check_model_2b" data-toggle="checkbox">
                    土壤/沉积物吸附系数
                  </label>
                  <ul class="model-args" id='model_2b_args'>
                    <li>
                      <div class="form-group">
                        <input args_type='temp' model='model_2b' type="text" placeholder="温度(摄氏度)" class="form-control" style='width:60%'>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <label class='checkbox' for='check_model_2c'  model='model_2c'>
                    <input type="checkbox" value="" id="check_model_2c" data-toggle="checkbox">
                    生物降解性
                  </label>
                  <ul class="model-args" id='model_2c_args'>
                    <li>
                      <div class="form-group">
                        <input  args_type='temp'  model='model_2c' type="text" placeholder="温度(摄氏度)" class="form-control" style='width:60%'>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <label class='checkbox' for='check_model_2d'  model='model_2d'>
                    <input type="checkbox" value="" id="check_model_2d" data-toggle="checkbox">
                    气相羟基自由基反应速率常数
                  </label>
                  <ul class="model-args" id='model_2d_args'>
                    <li>
                      <div class="form-group">
                        <input args_type='temp'  model='model_2d' type="text" placeholder="温度(摄氏度)" class="form-control" style='width:60%'>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <label class='checkbox' for='check_model_2e'  model='model_2e'>
                    <input type="checkbox" value="" id="check_model_2e" data-toggle="checkbox">
                    液相羟基自由基反应速率常数
                  </label>
                  <ul class="model-args" id='model_2e_args'>
                    <li>
                      <div class="form-group">
                        <input  args_type='temp'  model='model_2e' type="text" placeholder="温度(摄氏度)" class="form-control" style='width:60%'>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <label class='checkbox' for='check_model_2f'  model='model_2f'>
                    <input type="checkbox" value="" id="check_model_2f" data-toggle="checkbox">
                    气相臭氧反应速率常数
                  </label>
                  <ul class="model-args" id='model_2f_args'>
                    <li>
                      <div class="form-group">
                        <input  args_type='temp'  model='model_2f' type="text" placeholder="温度(摄氏度)" class="form-control" style='width:60%'>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li>
              <span><i class='glyphicon glyphicon-minus-sign'></i> 生态毒性</span>
              <ul>
                <li>
                  <label class='checkbox' for='check_model_3a'>
                    <input type="checkbox" value="" id="check_model_3a" data-toggle="checkbox">
                    鱼类急性毒性
                  </label>
                  <ul class="model-args" id='model_3a_args'>
                    <li>
                      <div class="form-group">
                        <input  args_type='temp' model='model_3a' type="text" placeholder="温度(摄氏度)" class="form-control" style='width:60%'>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li>
              <span><i class='glyphicon glyphicon-minus-sign'></i> 健康毒性</span>
              <ul>
                <li>
                  <label class='checkbox' for='check_model_4a'>
                    <input type="checkbox" value="" id="check_model_4a" data-toggle="checkbox">
                    甲状腺素干扰效应
                  </label>
                  <ul class="model-args" id='model_4a_args'>
                    <li>
                      <div class="form-group">
                        <input  args_type='temp'  model='model_4a' type="text" placeholder="温度(摄氏度)" class="form-control" style='width:60%'>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-8">2</div>
</div>

{% endblock %}
