{% extends "base/base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-4">
    <div class="tree">
      <ul>
        <li>
          <span><i class='glyphicon glyphicon-minus-sign'></i>模型选择</span>
          <ul>

            <li>
              <span><i class='glyphicon glyphicon-minus-sign'></i>理化属性</span>
              <ul>
                <li>正辛醇/空气分配系</li>
                <li>过冷液体蒸气压</li>
              </ul>
            </li>
            
            <li>
              <span><i class='glyphicon glyphicon-minus-sign'></i>迁移转化</span>
              <ul>
                <li>生物富集因子</li>
                <li>土壤/沉积物吸附系数</li>
                <li>生物降解性</li>
                <li>气相羟基自由基反应速率常数</li>
                <li>液相羟基自由基反应速率常数</li>
                <li>气相臭氧反应速率常数</li>
              </ul>
            </li>

            <li>
              <span><i class='glyphicon glyphicon-minus-sign'></i>生态毒性</span>
              <ul>
                <li>鱼类急性毒性</li>
              </ul>
            </li>

            <li>
              <span><i class='glyphicon glyphicon-minus-sign'></i>健康毒性</span>
              <ul>
                <li>甲状腺素干扰效应</li>
              </ul>
            </li>

          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-8">2</div>
</div>

{% endblock %}
