{% extends "base/base.html" %}

{% block content %}

{%if not is_client %}
<div class="container" style="height:400px;">
  <div class = "row"> 
    <div class="col-xs-3 bs-docs-sidebar">
      <!--left navigation-->
      <ul class="nav nav-pills nav-stacked nav-list bs-docs-sidenav affix-top">
        <li class="{% block active_profile_content %}  {% endblock %}">
          <a href="/settings/profile" class="setting-bar" style="text-align:center;">
            <i class="icon-chevron-right pull-right"></i>
            基本信息 
          </a>
          </li>
          <li class="{% block active_admin_content %}  {% endblock %}">
            <a href="/settings/admin" class="setting-bar" style="text-align:center;">
              <i class="icon-chevron-right pull-right"></i>
              密码设置
            </a>
          </li>
      </ul>   
    </div>
      <!--right panel-->
      <div class="col-xs-8">
{%else%}
      <div class="login-section-client">
{%endif%}
        {% block settings_content %}
        {% endblock %}
      </div> 
{%if not is_client %}
  </div>
</div>
{%endif%}

{% endblock %}
