{% extends "base/base.html" %}

{% block content%}
  <!--Suite Task Statistics-->
  <h5>任务名称: {{suitetask.name}}</h5>
  <hr/>
  <div>
    <blockquote >{{suitetask.notes}}</blockquote>
  </div>
  <br/>

  <h5>任务概要</h5>
  <hr/>
  
  <div class="row">
    <div class="col-xs-2">
      {%if suitetask.status.category == "success"%}
        <image src="/static/images/save256.png" style="width: 140px; height: 140px;" ></image>
      {%elif suitetask.status.category == "failed"%}
        <image src="/static/images/close-bug256.png" style="width: 140px; height: 140px;" ></image>
      {%else%}
        <image src="/static/images/reload256.png" style="width: 140px; height: 140px;" ></image>
      {%endif%}
    </div> 
    <div class="col-xs-4">
      <h4>{{suitetask.status}}</h4>
      <p>开始时间: {{suitetask.start_time|date:"Y-m-d H:m"}}</p>
      <p>结束时间: {{suitetask.end_time|date:"Y-m-d H:m"}}</p>
      <p>报告邮箱: {{suitetask.email}}</p>
    </div>

    <div class="col-xs-3">
      <h4>统计</h4>
      <p>任务总数:{{suitetask.total_tasks}}</p>
      <p>已完成任务数:{{suitetask.has_finished_tasks}}</p>
    </div>
    
</div>
<br/>

<!--Suite Task Statistics-->

<h5>任务细节</h5>
<hr/>

<table class="table table-hover ">
  <thead>
    <tr>
      <td>状态</td>
      <td>模型</td>
      <td>类别</td>
      <td>来源</td>
      <td>温度</td>
      <td>结果</td>
      <td>应用域</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    {%for single in single_lists%}
    <tr>
      <td>
        {% if single.status.category == "success" %}
          <p class="label label-success">计算成功</p>
        {% elif single.status.category == "failed" %}
          <p class="label label-danger">计算失败</p>
        {% else %}
          <p class="label label-info">正在计算</p>
        {%endif%}
      </td>
      <td>{{single.model|upper}}({{single.model.desc|upper}})</td>
      <td>{{single.model.origin_type}}</td>
      <td>{{single.file_obj.file_source}}</td>
      <td>{{single.temperature}}</td>
      <td>{{single.result_value}}</td>
      <td>
      {% if single.hi == None and single.hx == None %}
        <p class="label label-default">未知</p>
      {% elif single.hi <= single.hx %}
        <p class="label label-success">应用域内</p>
      {% else %}
        <p class="label label-danger">应用域外</p>
      {% endif %}
      <td>
        <a class="btn btn-primary" href="{% url 'chemistry.views.singletask' single.pid %}">细节</a>
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table><!--end table-->
{% endblock %}
