{%extends "widgets/models/model_base.html"%}

<!--model BCF-->
{%block collapse_id%}"#collapse_bcf"{%endblock%}

{%block collapse_id_real%}"collapse_bcf"{%endblock%}

{%block label-ui %}label label-info user-info-label{%endblock%}

{%block model_name_title %}BCF{%endblock%}

{%block model_type%}Environment behavior{%endblock%}

{%block choiced_label%}"label_id_bcf"{%endblock%}

{%block model_introduction%}
{{models.bcf}}
{%endblock%}

{%block model_choice_id%}"model_bcf_choice"{%endblock%}
{%block model_name%}"bcf"{%endblock%} 
{%block control_id%}"label_id_bcf"{%endblock%}
{%block temperature_model%}"temperature_bcf"{%endblock%}
{%block humidity_model%}"humidity_bcf"{%endblock%}
{%block other_model%}"other_bcf"{%endblock%}
