{%extends "widgets/models/model_base.html"%}

<!--model dfs-->
{%block collapse_id%}"#collapse_dfs"{%endblock%}

{%block collapse_id_real%}"collapse_dfs"{%endblock%}

{%block label-ui %}label label-success user-info-label{%endblock%}

{%block model_name_title %}DFS{%endblock%}

{%block model_type%}Health toxicology{%endblock%}

{%block choiced_label%}"label_id_dfs"{%endblock%}

{%block model_introduction%}
{{models.dfs}}
{%endblock%}

{%block model_choice_id%}"model_dfs_choice"{%endblock%}
{%block model_name%}"dfs"{%endblock%} 
{%block control_id%}"label_id_dfs"{%endblock%}
{%block temperature_model%}"temperature_dfs"{%endblock%}
{%block humidity_model%}"humidity_dfs"{%endblock%}
{%block other_model%}"other_dfs"{%endblock%}
