{%extends "widgets/models/model_base.html"%}

<!--model KOA-->
{%block collapse_id%}"#collapse_koa"{%endblock%}

{%block collapse_id_real%}"collapse_koa"{%endblock%}

{%block model_name_title %}KOA{%endblock%}

{%block label-ui %}label label-info user-info-label{%endblock%}

{%block model_type%}Environment behavior{%endblock%}

{%block choiced_label%}"label_id_koa"{%endblock%}

{%block model_introduction%}
{{models.koa}}
{%endblock%}

{%block model_choice_id%}"model_koa_choice"{%endblock%}
{%block model_name%}"koa"{%endblock%} 
{%block control_id%}"label_id_koa"{%endblock%}
{%block temperature_model%}"temperature_koa"{%endblock%}
{%block humidity_model%}"humidity_koa"{%endblock%}
{%block other_model%}"other_koa"{%endblock%}
