{%extends "widgets/models/model_base.html"%}

<!--model koc-->
{%block collapse_id%}"#collapse_koc"{%endblock%}

{%block collapse_id_real%}"collapse_koc"{%endblock%}

{%block model_name_title %}KOC{%endblock%}

{%block label-ui %}label label-info user-info-label{%endblock%}

{%block model_type%}Environment behavior{%endblock%}

{%block choiced_label%}"label_id_koc"{%endblock%}

{%block model_introduction%}
{{models.koc}}
{%endblock%}

{%block model_choice_id%}"model_koc_choice"{%endblock%}
{%block model_name%}"koc"{%endblock%} 
{%block control_id%}"label_id_koc"{%endblock%}
{%block temperature_model%}"temperature_koc"{%endblock%}
{%block humidity_model%}"humidity_koc"{%endblock%}
{%block other_model%}"other_koc"{%endblock%}
