<!--model choice base template-->
<div class="models-choice-div">
  <table>
    <thead>
      <tr>
        <th width="125px">
          <a class="user-info accordion-toggle" 
             data-toggle="collapse" data-parent="#models-choice-accordions" 
             href={%block collapse_id%} {%endblock%}>
            {%block model_name_title %}{%endblock%}
          </a>
        </th>
        <th width="150px">
          <a class="{%block label-ui %}{%endblock%}">
            {%block model_type%}{%endblock%}
          </a>
        </th>
        <th width="65px">
          <a class="label label-warning user-info-label" 
             id={%block choiced_label%}{%endblock%} 
             visible="false" rel="label-choice">choiced!</a>
        </th>
        <th width="400px">
          <input class="span3"  id={%block temperature_model%}{%endblock%} 
                 type="text" placeholder="temperature(C)" value="25">
        </th>
        <th>
          <a class="btn btn-large btn-primary pull-right" 
             id={%block model_choice_id%}{%endblock%} rel="button-switch" 
             model={%block model_name%}{%endblock%} switch_text="undo this model" 
             control_id={%block control_id%}{%endblock%}>Choice This Model!</a>
        </th>
      </tr>
    </thead>
  </table>

  
  <div id={%block collapse_id_real%}{%endblock%} class="accordion-body collapse ">
    <div class="accordion-inner">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <div class="page-header">
              <h4>Abstract</h4>
            </div>
            <blockquote>
              {%block model_introduction%}{%endblock%}
            </blockquote>
          </div><!--end span12--->
        </div><!--end row-->
      </div>
    </div>
  </div>
</div>
<hr/>
