{%extends "widgets/models/model_base.html"%}

<!--model pkd-->
{%block collapse_id%}"#collapse_pkd"{%endblock%}

{%block collapse_id_real%}"collapse_pkd"{%endblock%}

{%block model_name_title %}PKD{%endblock%}

{%block label-ui %}label label-important user-info-label{%endblock%}

{%block model_type%}Environment toxicology{%endblock%}

{%block choiced_label%}"label_id_pkd"{%endblock%}

{%block model_introduction%}
{{models.pkd}}
{%endblock%}

{%block model_choice_id%}"model_pkd_choice"{%endblock%}
{%block model_name%}"pkd"{%endblock%} 
{%block control_id%}"label_id_pkd"{%endblock%}
{%block temperature_model%}"temperature_pkd"{%endblock%}
{%block humidity_model%}"humidity_pkd"{%endblock%}
{%block other_model%}"other_pkd"{%endblock%}
