{%extends "widgets/models/model_base.html"%}

<!--model pl-->
{%block collapse_id%}"#collapse_pl"{%endblock%}

{%block collapse_id_real%}"collapse_pl"{%endblock%}

{%block label-ui %}label label-info user-info-label{%endblock%}

{%block model_name_title %}PL{%endblock%}

{%block model_type%}Environment behavior{%endblock%}

{%block choiced_label%}"label_id_pl"{%endblock%}

{%block model_introduction%}
{{models.pl}}
{%endblock%}

{%block model_choice_id%}"model_pl_choice"{%endblock%}
{%block model_name%}"pl"{%endblock%} 
{%block control_id%}"label_id_pl"{%endblock%}
{%block temperature_model%}"temperature_pl"{%endblock%}
{%block humidity_model%}"humidity_pl"{%endblock%}
{%block other_model%}"other_pl"{%endblock%}
