{%extends "widgets/models/model_base.html"%}

<!--model ppk-->
{%block collapse_id%}"#collapse_ppk"{%endblock%}

{%block collapse_id_real%}"collapse_ppk"{%endblock%}

{%block label-ui %}label label-success user-info-label{%endblock%}

{%block model_name_title %}PPK{%endblock%}

{%block model_type%}Health toxicology{%endblock%}

{%block choiced_label%}"label_id_ppk"{%endblock%}

{%block model_introduction%}
{{models.ppk}}
{%endblock%}

{%block model_choice_id%}"model_ppk_choice"{%endblock%}
{%block model_name%}"ppk"{%endblock%} 
{%block control_id%}"label_id_ppk"{%endblock%}
{%block temperature_model%}"temperature_ppk"{%endblock%}
{%block humidity_model%}"humidity_ppk"{%endblock%}
{%block other_model%}"other_ppk"{%endblock%}
