{%extends "widgets/models/model_base.html"%}

<!--model rp-->
{%block collapse_id%}"#collapse_rp"{%endblock%}

{%block collapse_id_real%}"collapse_rp"{%endblock%}

{%block label-ui %}label label-info user-info-label{%endblock%}

{%block model_name_title %}RP{%endblock%}

{%block model_type%}Environment behavior{%endblock%}

{%block choiced_label%}"label_id_rp"{%endblock%}

{%block model_introduction%}
	Dragon 6 has been reconceived with the aim of proposing an even more powerful application for descriptor calculation and analysis. Dragon 6 has been designed to work both for Windows and Linux, as graphical and command-line interface. The changes between Dragon 5.5 and Dragon 6.0 are listed in the on-line help. The Graphical User Interface has been completely renewed to improve and facilitate selection and calculation of molecular descriptors. Moreover, new tools for the screening analysis of calculated descriptors have been added.								
{%endblock%}

{%block model_choice_id%}"model_rp_choice"{%endblock%}
{%block model_name%}"rp"{%endblock%} 
{%block control_id%}"label_id_rp"{%endblock%}
{%block temperature_model%}"temperature_rp"{%endblock%}
{%block humidity_model%}"humidity_rp"{%endblock%}
{%block other_model%}"other_rp"{%endblock%}
